---
layout: default
description: "Hello, my Name is LucasGatsas. I'm a  Web Developer, Front-End Engineer, Hacker, Linux Ubuntu Sys Admin based in the City of Saint Gallen, Switzerland."
feature: abstract-1.jpg
header-img: 

---
<!-- Ruby and Rails Running ! Last Update 7. Dez. 2015 01:40:39 -  Marion i Love You! :) -->



        <style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style>
 
        
        <!--parallax 1 -->
<section class="bg-1 text-center">
  <h1 class="bg-hero-text">Hello, My Name is <span class="highlight">Lucas Gatsas</span></h1>
  <p class="lead" style="">Im a Front-End Engineer, SYS - Admin, Full Stack Developer  and <br> CTO/CEO Founder of the Social Coding BETA Version <a href="http://www.gitlist.io" id="__shortcut_gitlist__" target="_blank" style="font-weight:800;">gitlist.io</a> App. <br>I craft handsome spaces &amp; stunning apps that empower your startup.<br> And I'm allways Hack the World. I work very fast and steadily, <br> and I don't hardly ever notice that I'm working. <br> It feels like just breathing or walking when I do Code. i do.. </p>
</section>
<!--/parallax 1-->


    <section id="slider" class="slider text-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
          
            <div id="slider-carousel" class="carousel slide">
              <div class="carousel-inner">
                <div class="item active">
                  <img src="img/macbook-air-2.png" alt="">
                </div>
                <div class="item">
                  <img src="img/macbook-air-3.png" alt="">
                </div>
                <div class="item">
                  <img src="img/macbook-air-1.png" alt="">
                </div>
              </div>
              <a class="carousel-control lef" href="#slider-carousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right-side" href="#slider-carousel" data-slide="next">&rsaquo;</a>
            </div><!-- /slider-carousel -->
            
          </div><!-- /span12 -->
        </div><!-- /row -->
      </div><!-- /container -->
    </section>

<section id="features" class="features">
      <div class="container">
        <div class="row">
          
          <div class="col-sm-3">
            <div class="feature">
              <i class="fa fa-globe fa fa-2x pull-left"></i>
              <h4> Millions Git's</h4>
              <p>Discovering and find Millions of Gits and Open Sources. Or List your Own Git Today for Free.</p>
            </div>
          </div><!-- /span3 -->
          
          <div class="col-sm-3">
            <div class="feature">
              <i class="fa fa-wrench fa fa-2x pull-left"></i>
              <h4>Developers Friendly</h4>
              <p>Made for Developers like you around the Globe.</p>
            </div>
          </div><!-- /span3 -->
          
          <div class="col-sm-3">
            <div class="feature">
              <i class="fa fa-desktop fa fa-2x pull-left"></i>
              <h4>Responsive</h4>
              <p>We are really take care of a Modern UI/UX Design and Mobile Friendly. </p>
            </div>
          </div><!-- /span3 -->
          
          <div class="col-sm-3">
            <div class="feature">
              <i class="fa fa-thumbs-up fa fa-2x pull-left"></i>
              <h4>Community - Social Coding</h4>
              <p>keeping up with trends, can impact your success. Integer. Get Connections.</p>
            </div>
          </div><!-- /span3 -->
          
        </div><!-- /row -->
      </div><!-- /container -->
    </section>



    <!--
     <div id="g">
      <div class="container">
        <div class="row centered">
          <h2></h2>
          <div class="col-md-8 col-md-offset-2">
          <img src="{{ site.baseurl }}/images/logos-1.png" style="height:auto;"class="img-responsive aligncenter" alt="">
        </div>
        <br><br>
        <div class="col-md-8 col-md-offset-2">
           <br><br>
            <p>Promote your Git with Gitlist App. <br>  List current Gits around the Globe. Do you want 
              acceleration you Git? Gitlist is the Best Way.
            </p>
              <br>                       
            <a href="http://www.gitlist.io" style="font-size: 16px;" target="_blank"> www.gitlist.io</a>
          </div>
        </div>
      </div>
   </div>
-->
<!--
<div id="feature-section-page1">

               
                <div class="container">
                   
                    <div class="row">


                      
                        <div class="col-md-12">

                            <div class="section-title-container">

                              
                                <div class="section-title wow fadeInLeft animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInLeft;">
                                    <span>Features</span>
                                </div>

                               
                                <div class="section-desc wow fadeInRight animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInRight;">
                                    The main features of SMSMA template
                                </div>

                            </div>

                        </div>


                     
                        <div class="col-md-12">

                        
                            <div class="main-feature-image">
                                <img src="images/feature-images/feature-page1-imac.png" alt="iMac Image" class="wow fadeInLeft animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInLeft;">
                                <img src="images/feature-images/feature-page1-iPad.png" alt="iPad Image" class="wow fadeInLeft animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInLeft;">
                                <img src="images/feature-images/feature-page1-iPhone.png" alt="iPhone Image" class="wow fadeInRight animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInRight;">
                                <img src="images/feature-images/feature-page1-macbook.png" alt="Macbook Image" class="wow fadeInRight animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInRight;">
                            </div>

                        </div>


                      
                        <div class="col-md-4">

                         
                            <div class="feature-box-style1 wow fadeInLeft animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInLeft;">

                               
                                <div class="feature-box-icon">
                                    <i class="fa fa-code"></i>
                                </div>

                               
                                <div class="feature-box-title">
                                    Clean code
                                </div>

                              
                                <div class="feature-box-content">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, diam nonummy nibh tincidunt ut dolore magna aliquam erat volutpat.</p>
                                </div>

                            </div>

                        </div>


                        <div class="col-md-4">

                           
                            <div class="feature-box-style1 wow fadeInUp animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUp;">

                              
                                <div class="feature-box-icon">
                                    <i class="fa fa-laptop"></i>
                                </div>

                              
                                <div class="feature-box-title">
                                    clean Design
                                </div>

                             
                                <div class="feature-box-content">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, diam nonummy nibh tincidunt ut dolore magna aliquam erat volutpat.</p>
                                </div>

                            </div>
                        </div>


                        <div class="col-md-4">

                            <div class="feature-box-style1 wow fadeInRight animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInRight;">

                                <div class="feature-box-icon">
                                    <i class="fa fa-font"></i>
                                </div>

                                
                                <div class="feature-box-title">
                                    600+ font icons
                                </div>

                               
                                <div class="feature-box-content">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, diam nonummy nibh tincidunt ut dolore magna aliquam erat volutpat.</p>
                                </div>

                            </div>

                        </div>


                    </div>
                </div>

            </div>




-->


<div id="video-section">

                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">


                        <!-- col-md-12 -->
                        <div class="col-md-12">

                            <!-- section-title-container -->
                            <div class="section-title-container color-border">

                                <!-- section-title -->
                            
                               <!-- /section-title -->

                                <!-- section-desc -->
                                <div class="section-desc wow fadeInRight animated" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInRight; color: gray;">
                                    The best solution for promotion


                                </div><!-- /section-desc -->
                                   <span>Go See The Gitlist App.</span>

                            </div><!-- /section-title-container -->

                        </div><!-- /col-md-12 -->


                        <!-- col-md-12 -->
                        <div class="col-md-12">

                            <!-- video-show -->
                            <div class="video-show">

                                <!-- fit -->
                                <div class="fit">
                                    <div class="fluid-width-video-wrapper" style="padding-top: 50%;"><iframe src="http://www.youtube.com/embed/BfMOU1eBk-8" id="fitvid4712"></iframe></div>
                                </div><!-- /fit -->

                                <img src="images/mackbook-frame.png" alt="Macbook Frame">

                            </div><!-- /video-show -->

                        </div><!-- /col-md-12 -->


                    </div><!-- /row -->
                </div><!-- /container -->

            </div>

   <!-- ******Why Section****** -->
        <section id="why" class="section why" >
            <div class="container">
         
                <div class="feature-lead text-center">

                    <h4 class="title">Want to discover all the features?</h4>
                    <p><a class="btn btn-cta btn-cta-secondary" href="http://gitlist.io/">Take a Tour</a></p>
                </div>
            </div><!--//container-->
        </section><!--//why-->  


    <div id="features" style="margin-top: 60px;">
        <div class="container">
            <div class="section_header">
                <!--<h3>Features</h3> --> 
            </div> 
            <div class="row feature">
                <div class="col-sm-6">
                    <img src="img/showcase1.png" class="img-responsive" />
                </div>
                <div class="col-sm-6 info">
                    <h3>
              <i class="fa fa-desktop fa fa-2x pull-left" style="color: #427fed"></i>
                        Beautiful on all devices
                    </h3>
                    <p>
                      Sign Up to Gitlist and get the Best Gits around the Globe. Meet Developers World Wide and get Community. Gitlist is Social Coding Network for Developers to list their current Gits.
                    </p>
                </div>
            </div>
            <div class="row feature">
                <div class="col-sm-6 pic-right">
                    <img src="img/showcase2.png" class="pull-right img-responsive" />
                </div>
                <div class="col-sm-6 info info-left">
                    <h3>
              <i class="fa fa-thumbs-up fa fa-2x pull-left" style="color: #427fed"></i>
                        Blog page included
                    </h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>
                </div>                
            </div>
            <div class="row feature">
                <div class="col-sm-6">
                    <img src="{{ site.baseurl }}/images/logos-1.png" class="img-responsive" />
                </div>
                <div class="col-sm-6 info">
                    <h3>
              <i class="fa fa-globe fa fa-2x pull-left" style="color: #427fed"></i>
                        Simple and clean coming soon page
                    </h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>
                </div>
            </div>
        </div>
    </div>




<!--logos 
     <div id="g">
      <div class="container">
        <div class="row centered">
          <h2></h2>
          <div class="col-md-8 col-md-offset-2">
          <img src="{{ site.baseurl }}/images/logos-1.png" style="height:auto;"class="img-responsive aligncenter" alt="">
        </div>
        <br><br>
        <div class="col-md-8 col-md-offset-2">
           <br><br>
            <p>Promote your Git with Gitlist App. <br>  List current Gits around the Globe. Do you want 
              acceleration you Git? Gitlist is the Best Way.
            </p>
              <br>                       
            <a href="http://www.gitlist.io" style="font-size: 16px;" target="_blank"> www.gitlist.io</a>
          </div>
        </div>
      </div>
   </div>--> 




       <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
            <!--   <img class="img-responsive" src="{{ site.baseurl }}/img/gl-7.png" alt="" style="margin-top: -90px;"> --> 
                    <br> 

             
                <ul class="list-unstyled">
                    <li style="color:#427fed;">Gitlist Beta Version 1.0.1 </li>
                    <li>Current  v 1.0.1</li>
                </ul>


                <br>
                <img class="img-responsive text-center" src="../img/figure-4.png" alt="" style="display: -webkit-inline-box;padding-left:30px;">
            </div>
        </div>
       
    </div>



   <!-- ******Why Section****** -->
        <section id="why" class="section why" >
            <div class="container">
         
                <div class="feature-lead text-center">

                    <h4 class="title">Want to discover all the features?</h4>
                    <p><a class="btn btn-cta btn-cta-secondary" href="http://gitlist.io/">Take a Tour</a></p>
                </div>
            </div><!--//container-->
        </section><!--//why-->  








<!--

<div class="divider"></div>
  
<section class="bg-2">
  <div class="col-sm-10 col-sm-offset-1 text-center">
  
    <h1>Keep Things Going</h1>
    <p class="lead">Im based in the City of St. Gallen, Switzerland. <br> Most Time i spend with Code. <a href="http://www.gitlist.io" id="__shortcut_gitlist__" target="_blank" style="font-weight:800;">gitlist.io</a>  <br> </p>
    
  </div>
</section>

<div class="divider"></div> --> 



    <div id="features" style="margin-top: 60px;">
        <div class="container">
            <div class="section_header">
                <!--<h3>Features</h3> --> 
            </div> 
            <div class="row feature">
                <div class="col-sm-6">

                        <img class="img-responsive" src="http://space.lucasgatsas.ch/images/Showcase-Devices-Presentation-lucas-gatsas-gitlist-app.png" alt="">
                </div>
                <div class="col-sm-6 info">
               
                     <a href="https://news.ycombinator.com/item?id=10496670" target="_blank">  <img class="img-responsive text-center" src="../images/hackernews-1.png" alt="" style="height:60px;"></a>
                            <p>My App in the Hacker News for User Feedback. Read Discussions.</p>
                         <a href="https://news.ycombinator.com/item?id=10496670" target="_blank">  <img class="img-responsive text-center" src="../images/medium.png" alt="" style="height:60px;"></a>
                           <p>Go Read my Medium Article about the Story of Gitlist and Development Process.</p>
                
                </div>
            </div>
     
       
        </div>
    </div>



<div id="sep">
      <div class="container">
        <div class="row centered">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="lg-desc___1">I live in Switzerland, St. Gallen</h1>
            <h3 class="mb lg-desc___1">Write Code Every Day</h3>
            <button class="btn btn-conf btn-clear lg-desc___1">Request for Information</button>
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div>



  <!-- ******CTA Section****** -->
   <!--     <section id="cta-section" class="section cta-section text-center home-cta-section" style="height:320px;">
            <div class="container">
               <h2 class="title">Ready to promote your Software or Git online?</h2>
               <p class="intro">Get your  <span class="counting">Gitlist</span> today.</p>
               <p><a class="btn btn-cta btn-cta-primary" href="http://gitlist.io/" target="_blank">Get Gitlist Now</a></p>
            </div>
        </section>-->
        

<!--
<div class="divider"></div> --> 

<!--parallax 2 -->

<!--
<section class="bg-3 text-center">
  <h1>Bootstrap Parallax</h1>
  <p class="lead"></p>
</section>-->
<!--/parallax 2-->






<!--
        
        <script type='text/javascript'>
        
        $(document).ready(function() {
        
            /**
 * Author: lucas gatsas 
 * jQuery  Parallax 
 *
 */
 
(function($) {
 
    $.fn.parallax = function(options) {
 
        var windowHeight = $(window).height();
 
        // Establish default settings
        var settings = $.extend({
            speed        : 0.15
        }, options);
 
        // Iterate over each object in collection
        return this.each( function() {
 
          // Save a reference to the element
          var $this = $(this);
 
          // Set up Scroll Handler
          $(document).scroll(function(){
 
                var scrollTop = $(window).scrollTop();
                      var offset = $this.offset().top;
                      var height = $this.outerHeight();
 
        // Check if above or below viewport
      if (offset + height <= scrollTop || offset >= scrollTop + windowHeight) {
        return;
      }
 
      var yBgPosition = Math.round((offset - scrollTop) * settings.speed);
 
                 // Apply the Y Background Position to Set the Parallax Effect
          $this.css('background-position', 'center ' + yBgPosition + 'px');
                
          });
        });
    }
}(jQuery));

$('.bg-1,.bg-3').parallax({
  speed : 0.15
});

$('.bg-2').parallax({
  speed : 0.25
});
        
        });
        
        </script> -->
        

<script>




/*
 * All the plugins init are in this file
 **/
var map;
$(document).ready(function() {
  
  // activate the second carousel
  $('#slider-carousel').carousel();
  $('#testimonials-carousel').carousel();
  
  // init the google map plugin
  map = new GMaps({
    el: '#map',
    lat: -12.043333,
    lng: -77.028333
  });
  map.setContextMenu({
    control: 'map',
    options: [{
      title: 'Add marker',
      name: 'add_marker',
      action: function(e){
        this.addMarker({
          lat: e.latLng.lat(),
          lng: e.latLng.lng(),
          title: 'New marker'
        });
        this.hideContextMenu();
      }
    }, {
      title: 'Center here',
      name: 'center_here',
      action: function(e){
        this.setCenter(e.latLng.lat(), e.latLng.lng());
      }
    }]
  });
  map.setContextMenu({
    control: 'marker',
    options: [{
      title: 'Center here',
      name: 'center_here',
      action: function(e){
        this.setCenter(e.latLng.lat(), e.latLng.lng());
      }
    }]
  });

  
  // sliding contact form
  $('.contact-form-btn').click( function(){
    if($(this).hasClass('closes')) {
      $('.contact-form-inner').slideDown();
      $(this).removeClass('closes').addClass('open');
    } else {
      $('.contact-form-inner').slideUp();
       $(this).removeClass('open').addClass('closes');
    }
  });
  
  // ajax contact form
  $('#contact-form').submit(function(){
    $.post('contact-form.php', $(this).serialize(), function(data){
      $('#contact-form').html(data);
      $('#contact-form input, #contact-form textarea').val('');
    });       
    return false;
  });

  // ajax subscription
  $('#subsc-form').submit(function(){
    $.post('subscription.php', $(this).serialize(), function(data){
    
      $('.subscribe-wrapper > *').fadeIn();
      $('.subscribe-wrapper').html(data);
      $('#subsc-form input').val('');
    });       
    return false;
  });

});

</script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


<script>


(function( $ ){

  "use strict";

  $.fn.fitVids = function( options ) {
    var settings = {
      customSelector: null,
      ignore: null
    };

    if(!document.getElementById('fit-vids-style')) {
      // appendStyles: https://github.com/toddmotto/fluidvids/blob/master/dist/fluidvids.js
      var head = document.head || document.getElementsByTagName('head')[0];
      var css = '.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}';
      var div = document.createElement('div');
      div.innerHTML = '<p>x</p><style id="fit-vids-style">' + css + '</style>';
      head.appendChild(div.childNodes[1]);
    }

    if ( options ) {
      $.extend( settings, options );
    }

    return this.each(function(){
      var selectors = [
        "iframe[src*='player.vimeo.com']",
        "iframe[src*='youtube.com']",
        "iframe[src*='youtube-nocookie.com']",
        "iframe[src*='kickstarter.com'][src*='video.html']",
        "object",
        "embed"
      ];

      if (settings.customSelector) {
        selectors.push(settings.customSelector);
      }

      var ignoreList = '.fitvidsignore';

      if(settings.ignore) {
        ignoreList = ignoreList + ', ' + settings.ignore;
      }

      var $allVideos = $(this).find(selectors.join(','));
      $allVideos = $allVideos.not("object object"); // SwfObj conflict patch
      $allVideos = $allVideos.not(ignoreList); // Disable FitVids on this video.

      $allVideos.each(function(){
        var $this = $(this);
        if($this.parents(ignoreList).length > 0) {
          return; // Disable FitVids on this video.
        }
        if (this.tagName.toLowerCase() === 'embed' && $this.parent('object').length || $this.parent('.fluid-width-video-wrapper').length) { return; }
        if ((!$this.css('height') && !$this.css('width')) && (isNaN($this.attr('height')) || isNaN($this.attr('width'))))
        {
          $this.attr('height', 9);
          $this.attr('width', 16);
        }
        var height = ( this.tagName.toLowerCase() === 'object' || ($this.attr('height') && !isNaN(parseInt($this.attr('height'), 10))) ) ? parseInt($this.attr('height'), 10) : $this.height(),
            width = !isNaN(parseInt($this.attr('width'), 10)) ? parseInt($this.attr('width'), 10) : $this.width(),
            aspectRatio = height / width;
        if(!$this.attr('id')){
          var videoID = 'fitvid' + Math.floor(Math.random()*999999);
          $this.attr('id', videoID);
        }
        $this.wrap('<div class="fluid-width-video-wrapper"></div>').parent('.fluid-width-video-wrapper').css('padding-top', (aspectRatio * 100)+"%");
        $this.removeAttr('height').removeAttr('width');
      });
    });
  };
// Works with either jQuery or Zepto
})( window.jQuery || window.Zepto );

</script>




<br><br>
     

<!--
 
     <div id="g">
      <div class="container">
        <div class="row centered">
          <h2>Check my latest App.</h2>
          <div class="col-md-8 col-md-offset-2">
          <img src="{{ site.baseurl }}/images/234345123512.png" style="height:auto;"class="img-responsive aligncenter" alt="">
        </div>
        <div class="col-md-8 col-md-offset-2">
            <p>Gitlist App. <br>  List current Gits around the Globe.
            </p>
              <br>                       
            <a href="http://www.gitlist.io" style="font-size: 16px;" target="_blank"> www.gitlist.io</a>
          </div>
        </div>
      </div>
   </div>
-->






    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

<!--


<div class="content">
  {% for post in paginator.posts %}
    <article>
			<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ post.header-img }}')" style="margin-bottom:-40px;" alt="Lucas Gatsas lucas gatsas" title="lucas gatsas Lucas Gatsas">  
				{% if post.image.header-img %}
				<div class="intro-header">
					<a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.baseurl }}/img/{{ post.image.header-img }}" alt="{{ post.title }} Lucas Gatsas lucas gatsas" title="lucas gatsas Lucas Gatsas"></a>
				</div>
				{% endif %}
				<div class="post-meta">
					<span class="entry-date date published updated">
						<time datetime="{{ post.date | date_to_xmlschema }}">
							<a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a>
						</time>
					</span>
					<span class="author vcard">
						<span class="fn">
							<a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a>
						</span>
					</span>
						{% if site.reading_time %}
						<span class="entry-reading-time">
							<i class="fa fa-clock-o"></i>
							{% assign readtime = post.content | number_of_words | divided_by:site.words_per_minute %}
							Reading time ~{% if readtime <= 1 %}1 minute{% else %}{{ readtime }} minutes{% endif %}
						</span>
						{% endif %}
				</div>
		
				{% if post.link %}
				<h1 class="post-title" id="post-title-h1"><a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
				{% else %}
				<h1 class="post-title"><a href="{{ site.url }}{{ post.url }}" id="post-title-h1" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
								<h1 class="post-title-readmore"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url" id="readmore-link"> ReadMore</a></h1>

				{% endif %}
			</header>












    </article>
	<article class="container hentry">
		<div class="entry-content">
			{{ post.content }}
		</div>
		<br>
 <div class="[ col-xs-12 ] meine-visitenkarte"
 style="  background-color: #F7F7F7;
padding-left: 20px;
padding-bottom: 20px;
border-radius: 4px;
padding-top: 20px;
text-align: -webkit-center;
line-height: 30px;
border: 1px solid rgba(0, 0, 0, 0.09);
  ">
	<td colspan="999">
	    <a href="">Lucas Gatsas  </a> 
	    <a href=""><strong>UI/UX Designer & Front-End Engineer</strong> </a> 
		<a class="no-border" href=""><img src="{{ site.baseurl }}/img/zLAW5YPs_400x400.jpg" width="50" height="50" style="border:2px solid #fff;border-radius:5em;margin:0;"></a> 
		<a href="">follow:</a>
		<a href="https://www.github.com/spaceg" target="_blank"><i class="fa fa-github"></i></a> 
		<a href="https://www.twitter.com/LucasGatsas" target="_blank"><i class="fa fa-twitter"></i></a> 
		<a href="https://plus.google.com/101826267816845608605/posts" target="_blank"><i class="fa fa-google-plus"></i></a>
		<a href="https://instagram.com/lucasgatsas/" target="_blank"><i class="fa fa-instagram"></i></a>
		<a href="https://angel.co/lucas-gatsas" target="_blank"><i class="fa fa-angellist"></i></a>

	</td>
</div>
	</article>

  {% endfor %}


  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a href="{{ site.siteurl }}/">&laquo; Prev</a>
      {% else %}
        <a href="{{ site.siteurl }}/page{{ paginator.previous_page }}/">&laquo; Prev</a>
      {% endif %}    
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% if paginator.next_page %}
      <a class='next' href="{{ site.siteurl }}/page{{ paginator.next_page }}/">Next &raquo;</a>
    {% else %}
      <span class='next'>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>


 
<script src="{{ site.siteurl }}/js/jquery-1.11.1.js"></script>
<script src="{{ site.siteurl }}/js/jscroll/jquery.jscroll.js"></script>

<script type="text/javascript">
$('.content').jscroll({
    contentSelector: ".content",
    nextSelector: '.next'
});
</script> 

-->








