---
layout: default
description: "Hello, my Name is LucasGatsas. I'm a  Web Developer, Front-End Engineer, Hacker, Linux Ubuntu Sys Admin based in the City of Saint Gallen, Switzerland."
feature: abstract-1.jpg
header-img: 

---
  <!--Preloader-->
    <div class="preloader-it">
      <div class="la-anim-1"></div>
    </div>
    <!--/Preloader-->
    
    <!--Container-->
    <div class="pad-zero">
      
      <!--Splitlayout -->
      <div id="splitlayout" class="splitlayout reset-layout">
        
        <!--Intro-->
        <div class="intro">
          
          <!--Left Content Intro-->
          <div class="side side-left">
            
            <!--About Nav-->
            <div class="call-to-action about">
                <i class="fa fa-info fa-2x"></i>  
                <i class="fa fa-times fa-2x opacity-hide"></i>  
                <span class="top"></span>
                <span class="right"></span>
                <span class="bottom"></span>
                <span class="left"></span>
            </div>
            <!--/About Nav-->
            
            <div class="col-lg-8 col-md-9 col-sm-9 col-xs-9 align-center content-wrap">
            
            <!--Logo-->
            <div class="logo align-center text-left"><img src="img/logo-dark.png" alt="logo">
            </div>
            <!--/Logo-->
            
            <!--main content-->
            <div class="main">
              
              <!--Content with Typing Intro-->
              <section id="home" class="section active">
                <div  class="preloader"></div>
                <div class="align-center text-left">
                  <span class="small-hr animated fadeInLeft"  data-animation="fadeInLeft" data-out-animation="fadeOutLeft" data-out-animation-delay="200"></span>
                  <p class="animated fadeInLeft"  data-animation="fadeInLeft" data-out-animation="fadeOutLeft" data-out-animation-delay="300">"Aufgrund meiner langjährigen Erfahrung in der Entwicklung von Online-Anwendungen finde ich zu jeder Aufgabenstellung die passende Lösung, egal ob einfach oder hochkomplex! Spezielle Lösungen – genereller Nutzen: individuell abgestimmte Web und Mobile Applikationen. "</p>
                  <div class="type-wrap text-left">
                    <h1  class="animated fadeInLeft"  data-animation="fadeInLeft" data-out-animation="fadeOutLeft" data-out-animation-delay="900"><span id="typed" ></span></h1>
                  </div>
                  
                  <div class="notify-btn main-menu">
                    <a  href="#contact" class="btn btn-default animated fadeInLeft" data-hover="Notify me" data-animation="fadeInLeft" data-animation-delay="1000" data-out-animation="fadeInLeft" data-out-animation-delay="600" data-toggle="modal" data-target="#notify-my"><span class="button-label text-left">Notify me</span><span class="arrow-wrap"><span class="arrow"></span></span></a>
                  </div>
                </div>    
              </section>
              <!--/Content with Typing Intro-->
              
              <!--Notify Form-->
              <section id="contact" class="section text-left">
                <div  class="preloader"></div>  
                <div class="main-menu">
                  <a class="close-notify black" href="#home" data-animation="fadeInDown" data-animation-delay="900" data-out-animation="fadeOutUp" data-out-animation-delay="100">
                    <div class="call-to-action">
                      <i class="fa fa-times fa-2x"></i> 
                      <span class="top"></span>
                      <span class="right"></span>
                      <span class="bottom"></span>
                      <span class="left"></span>
                    </div>
                  </a>
                </div>
                
                <!--CONTENT CHANGED & <br> ADDED-->               
                <div class="notify-wrap">
                  <h3 class="wellcome-text" data-animation="fadeInLeft" data-animation-delay="900" data-out-animation="fadeOutLeft" data-out-animation-delay="100" data-ng-bind="notify || 'hello..'">Hello..</h3>
                  <form id="notifyMe" class="contact-form" action="notify-me.php" method="post">
                    <div class="input-wrap" data-animation="fadeInLeft" data-animation-delay="100" data-out-animation="fadeOutLeft" data-out-animation-delay="900">
                      <input  data-ng-model="notify" class="col-lg-10  align-center form-control input input__field input__field--hoshi notify-input-box" name="email" placeholder="email id"  type="email">
                      <label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
                    </div>  
                    <button type="submit" data-hover="Send" class="btn btn-default progress-button btn-submit " data-animation="fadeInUp" data-animation-delay="900" data-out-animation="fadeOutUp" data-out-animation-delay="1300">
                    <span><span class="arrow-wrap"><span class="arrow"></span></span></span>
                    </button>
                  </form>
                </div>
              </section>
              <!--/Notify Form-->
                          
              <div class="copyright">
                <ul class="social-icons">
                  <li>
                    <a href="https://www.facebook.com/profile.php?id=100010261894353" class="social-icon">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/LucasGatsas"  target"_BLANK"  class="social-icon">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                <li>
                    <a href="https://plus.google.com/101826267816845608605" target"_BLANK"  class="social-icon">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/spaceg" target"_blank" class="social-icon">
                      <i class="fa fa-github" ></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://angel.co/lucas-gatsas" target"_BLANK"  class="social-icon">
                      <i class="fa fa-angellist"></i>
                    </a>
                  </li>
                  
                </ul>
                <p>©. 2016 by Lucas Gatsas</p>
              </div>
            </div>
            <!--/main content-->
            
            </div>
          </div>
          <!--/Left Content Intro-->
          
          <!--Right Content Intro-->
          <div class="side side-right">
            <div class="bg"></div>
            <div class="bg disappear"></div>
            <!--slider image-->
            <ul class="cb-slideshow">
              <li><span>Image 01</span></li>
              <li><span>Image 02</span></li>
              <li><span>Image 03</span></li>
              <li><span>Image 04</span></li>
              <li><span>Image 05</span></li>
              <li><span>Image 06</span></li>
            </ul>
            <!--/slider image-->
            
            <!--Contect Nav-->
            <div class="call-to-action contact">
                <i class="fa fa-envelope fa-2x"></i>
                <i class="fa fa-times fa-2x opacity-hide"></i>
                <span class="top"></span>
                <span class="right"></span>
                <span class="bottom"></span>
                <span class="left"></span>
            </div>
            <!--/Contect Nav-->
            
            <div class="counter-content">
              <div class="col-lg-8 col-md-9 col-sm-9 col-xs-9 align-center text-left">
                <p class="tagline">I'm code UI/UX design & digital experiences to bash the universe.</p>
                
                <!--Counter-->
                <div id="countdown">
                  <span class="days">00</span>
                </div>
                <span class="small-hr"></span>
                <span class="remain-days">More Days</span>
                <br>
                <!--<span id="timer"></span> -->
                <script type="text/javascript">
                //###################################################################

                var CDown = function() {
                  this.state=0;// if initialized
                  this.counts=[];// array holding countdown date objects and id to print to {d:new Date(2013,11,18,18,54,36), id:"countbox1"}
                  this.interval=null;// setInterval object
                }

                CDown.prototype = {
                  init: function(){
                    this.state=1;
                    var self=this;
                    this.interval=window.setInterval(function(){self.tick();}, 25);
                  },
                  add: function(date,id){
                    this.counts.push({d:date,id:id});
                    this.tick();
                    if(this.state==0) this.init();
                  },
                  expire: function(idxs){
                    for(var x in idxs) {
                      this.display(this.counts[idxs[x]], "Now!");
                      this.counts.splice(idxs[x], 1);
                    }
                  },
                  format: function(r){
                    var out="";
                    out += r.s +("."+r.ms)+" "+((r.s==1)?"<br>sec":"<br>files downloaded")+", ";

                    return out.substr(0,out.length-2);
                  },
                  math: function(work){
                    var y=w=d=h=m=s=ms=0;

                    ms=(""+((work%1000)+1000)).substr(1,3);
                    work=Math.floor(work/1000);//kill the "milliseconds" so just secs

                    y=Math.floor(work/31536000);//years (no leapyear support)
                    w=Math.floor(work/604800);//weeks
                    d=Math.floor(work/86400);//days
                    h=Math.floor(work/3600);//hours
                    m=Math.floor(work/60);//minutes
                    s=Math.floor(work);//seconds

                    return {y:y,w:w,d:d,h:h,m:m,s:s,ms:ms};
                  },
                  tick: function(){
                    var now=(new Date()).getTime(),
                      expired=[],cnt=0,amount=0;

                    if(this.counts)
                    for(var idx=0,n=this.counts.length; idx<n; ++idx){
                      cnt=this.counts[idx];
                      amount=cnt.d.getTime()-now;//calc milliseconds between dates

                      // if time is already past
                      if(amount<0){
                        expired.push(idx);
                      }
                      // date is still good
                      else{
                        this.display(cnt, this.format(this.math(amount)));
                      }
                    }

                    // deal with any expired
                    if(expired.length>0) this.expire(expired);

                    // if no active counts, stop updating
                    if(this.counts.length==0) window.clearTimeout(this.interval);
                    
                  },
                  display: function(cnt,msg){
                    document.getElementById(cnt.id).innerHTML=msg;
                  }
                };

                window.onload=function(){
                  var cdown = new CDown();

                  cdown.add(new Date(2016,1,3,23,14,27), "countbox1");
                };
                </script>
                <div id="countbox1"></div>
                <!--<script>
                  var count = 100000003000;
                  
                  var counter = setInterval(timer, 10); //10 will  run it every 100th of a second
                  
                  function timer()
                  {
                      if (count <= 0)
                      {
                          clearInterval(counter);
                          return;
                       }
                       count--;
                       document.getElementById("timer").innerHTML=count /100+  " <br>files Uploaded"; 
                   }
                </script> -->
                <!--/Counter-->
              </div>  
            </div>
          <div class="trans-overlay-dark"></div>  
          </div>
          <!--/Right Content Intro-->
        </div>
        <!--/Intro-->
        
        <!--About Section-->
        <div class="page page-left">
          <div  class="page-inner full-height">
            <div class="container align-center detail-info">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <h3>About</h3>
                </div>  
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-9">
                  <p class="tagline">I'm code UI/UX design & digital experiences to bash the universe.</p>
                  <span class="small-hr">Vorwort</span><br>
                  <p class="align-center">Wir verhelfen Unternehmen zu glücklicheren Kunden, indem wir Software mit einem modernen UI/UX Design (benutzerfreundlich - usability) entwickeln. Begeistert und mit Motivation gestalten wir Prototypen, UI Design und Interaction Design und schaffen so digitale Sensationen. Der Hauptbestandteil von UX Design (User Experience Design) ist UI Design (User Interface Design). Wir kreieren User Interfaces (UI) für mobile Applikationen, responsive Websites, Online-Shops und andere Applikationen. Wir integrieren die Abläufe, welche im Interaction Design definiert wurden. <br>
                  </p>
                  <p class="align-center">
                  <strong>Software</strong><br>
                  Bewährte Software-Technologien und moderne Trends - Wir verfügen über ein breites Know-how im zeitgemässen Software Engineering. Wir beraten Sie gerne, um für Sie die richtige Technologie zu finden und auf Ihre Wünsche und Vorstellungen entsprechend zu konfigurieren. Web + Mobile Apps sind unser Hauptbereich. Wir entwickeln komplexe Web & Mobile Applikationen, Web und Mobile Anwendungen. Die gerade aufbeliebigen Smartphones, Tablets, iPhones/iPads verfügbar und abrufbar sind. Native Mobile Apps oder Web Apps nach Ihren Wünschen.
                  </p>
                  <p class="align-center">
                  <strong>UI/UX -Design</strong><br>
                  Was passiert, wenn ich das Passwort falsch eingebe, was passiert wenn ich scrolle? Wir gestalten das Interaction Design für unsere Kunden mittels Flow Charts und Prototypen. Wir erstellen Animationen und Abläufe, welche zu einem positiven UX Design notwendig sind. Interaction Design bis ins Detail geht oft vergessen, dass ein Button neben dem normalen Zustand und dem Rollover Zustand auch noch den "On Klick" Zustand kennt. Für ein positives UX Design sollte auch diesem Zustand einige Zeit gewidmet werden.
                  </p>
                  <p class="align-center">
                  <strong>Technische Hintergründe</strong><br>
                  Technisches KNOW-HOW liegt uns sehr am Herzen. Wir wissen, was die moderne Technik will und wir wissen wie, wo und wann man sie sehr gut einsetzt.
                  </p>
                  <p class="align-center">
                  <strong>Programmierung</strong><br>
                  ProgrammierSprachen: HTML5, CSS3, LESS/SASS, JQUERY, JAVASCRIPT, Ruby and Rails, PHP - MYSQL, NOSQL - MONGO-DB <br> Frameworks: NODE.JS, SAILS.JS, MEAN.IO, ANGULAR.JS etc.</p>
                  <p class="align-center">
                  <strong>Software</strong><br>
                  Schnelle und Kundenfreundliche Software Lösungen für Ihr Unternehmen oder Start Up.
                  </p>
                  <p class="align-center">
                  <strong>Ui/UX Design</strong><br>
                  Sauberes und Modernes Web-Design für einen grossen Kunden- freundlichen Internet Auftritt.
                  </p>
                  <p class="align-center">
                  <strong>Moderne Frameworks</strong><br>
                  Node.js Mit Node.js findet JavaScript auch auf dem Webserver eine immer größere Verbreitung.
                  </p>
                  <p class="align-center">
                  <strong>High Resolution</strong><br>
                  Skaliebare Software Lösungen, Virtuelle Maschinen (Virtual Machine) Virtual Servers, wie Datenbanken.
                  </p>
                  <p class="align-center"><br>
                  <strong>Betriebsystem</strong><br>
                  Linux& Mac OS <br>  
                  </p>
                  <!--
                  <div id="qualities">
                    <div class="qualities"> 
                      <div class="item" >
                        <span class="fa-qual"><i class="fa fa-cog"></i></span>
                        <span class="qual-tag">Angular js</span>
                        <span class="qual-desc">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit adipiscing elit.
                        </span>
                      </div>
                      <div class="item" >
                        <span class="fa-qual"><i class="fa fa-gavel"></i></span>
                        <span class="qual-tag">Bootstrap Sass</span>
                        <span class="qual-desc">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit adipiscing elit.
                        </span>
                      </div>
                      <div class="item" >
                        <span class="fa-qual"><i class="fa fa-sitemap"></i></span>
                        <span class="qual-tag"> CSS3</span>
                        <span class="qual-desc">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit adipiscing elit.
                        </span>
                      </div>
                      <div class="item" >
                        <span class="fa-qual"><i class="fa fa-space-shuttle"></i></span>
                        <span class="qual-tag">HTML5</span>
                        <span class="qual-desc">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit adipiscing elit.
                        </span>
                      </div>
                      <div class="item" >
                        <span class="fa-qual"><i class="fa fa-soundcloud"></i></span>
                        <span class="qual-tag"> Mailchimp</span>
                        <span class="qual-desc">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit adipiscing elit.
                        </span>
                      </div>
                      <div class="item" >
                        <span class="fa-qual"><i class="fa fa-trophy"></i></span>
                        <span class="qual-tag"> Ajax</span>
                        <span class="qual-desc">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit adipiscing elit.
                        </span>
                      </div>
                    </div>
                  </div> Client Slider-->
                  <!--/Client Slider-->
                </div>  
                <!--Team Slider-->
                <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-7 col-md-8 col-sm-8 col-xs-9 team-sec">
                  <p class="tagline">Portrait</p>
                  <span class="small-hr"></span>
                  <div id="team">
                    <div class="team"> 
                      <div class="item">
                        <div class="team-img-wrap">
                          <img src="img/team1.jpg" alt="team1">
                          <div class="team-overlay">
                            <ul class="social-icons">
                              <li>
                                <a href="https://www.facebook.com/profile.php?id=100010261894353" class="social-icon">
                                  <i class="fa fa-facebook"></i>
                                </a>
                              </li>
                              <li>
                                <a href="https://www.github.com/spaceg" class="social-icon">
                                  <i class="fa fa-github"></i>
                                </a>
                              </li>
                              <li>
                                <a href="https://www.twitter.com/lucasgatsas" class="social-icon">
                                  <i class="fa fa-twitter"></i>
                                </a>
                              </li>
                              <li>
                                <a href="https://www.instagram.com/lucasgatsas" class="social-icon">
                                  <i class="fa fa-instagram"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>  
                        <span class="name"> </span>
                        <span class="desg"></span>
                      </div>
                    </div>
                  </div>
                </div>  
                <!--/Team Slider-->
              </div>
            </div>
            <div class="trans-overlay-dark-about"></div>
          </div>    
        </div>
        <!--/About Section-->
        
        <!--Contact Section-->
        <div class="page page-right">
          <div  class="page-inner full-height">
            <div class="container align-center detail-info">
              <div class="row">
              <div data-ng-controller="ContactController" class="panel-body">
                <h3 class="col-lg-12 col-xs-9" data-ng-bind="formData.inputName||'Hello..'">Hello..</h3>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">
                  <form data-ng-submit="submit(contactform, $event)"  name="contactform" method="post" class="form-horizontal" role="form">
                    <div class="form-group input--hoshi" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                      <div class="input-wrap">
                        <input data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
                        <label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1" ></label>
                      </div>  
                    </div>
                    <div class="form-group  input--hoshi" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                      <div class="input-wrap">
                        <input data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Your Email" id="inputEmail" name="inputEmail" required>
                        <label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
                      </div>  
                    </div>
                    <div class="form-group  input--hoshi" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                      <div class="input-wrap">
                        <textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
                        <label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
                      </div>  
                    </div>
                    <div class="form-group">
                      <div class="align-center">
                        <button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
                          <span><span class="arrow-wrap"><span class="arrow"></span></span></span>
                        </button>
                      </div>
                    </div>
                  </form>
                  <p data-ng-class="result">{{ resultMessage }}</p>
                </div>
                <div class="col-lg-3 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5 col-xs-9">
                  <div class="align-center address-detail">
                  <p>Lucas Gatsas <br> Web Entwickler & Front-End Engineer<br/>St. Gallen, CH - Switzerland.</p>
                  <div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-link"></i></div>
                  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
                    <a href="http://www.lucasgatsas.ch" target="_blank">www.lucasgatsas.ch</a>
                  </div>
                  <div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-fax"></i></div>
                  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
                    <a href="callto:0041789536565" target="_blank">+0041 (78) 953 65 65</a>
                  </div>
                  <div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-envelope"></i></div>
                  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
                    <a href="mailto:lucasgatsas|@|gmail.com" target="_blank">lucasgatsas@gmail.com</a>
                  </div>
                  <div class="col-lg-12  pad-left-zero map">
                  <a class="" href="https://www.google.ch/maps/place/St.+Gallen/@47.4240595,9.3282649,13z/data=!3m1!4b1!4m2!3m1!1s0x479b1e297633d855:0x9a2250081ffe6114" target="_blank">
                    <span class="">Google Maps</span><span class="go-arrow"></span>
                  </a>  
                  </div>
                </div>
              
                </div>    
                <!--Google Map-->
                <iframe src="https://www.google.com/maps/" width="100%" height="450" frameborder="0" style="border:0;display:none;" allowfullscreen></iframe>
                <!--/Google Map-->
              </div>
              </div>
            </div>
              
            <div class="trans-overlay-dark-contact"></div>  
                </div>
        </div>
        <!--/Contact Section-->
        
      </div>
      <!-- /Splitlayout -->
    
    </div>
    <!-- /Container -->    





