body {
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-weight: bold;
	font-size: 200px;
	color: white;
}

.street-view > img,
.street-view > video {
	width: 100%;
	height: 100%;
}

h1 {
	position: fixed;
	z-index: 2;
	font-size: 20px;
	top: 10px;
	left: 10px;
}

.hotspot {
	position: absolute;
	z-index: 1;
	opacity: 0.8;
	margin-top: -1ex;
}

.footer {
	height: 750px;
	width: 100%;
	padding-left: -1px;
	padding-right: -1px;
	margin-left: -0ex;
	margin-right: -0ex;
	margin-bottom: 0px;
	z-index: 2;
	position: relative;
	font-family: Times;
	color: #CCC;
	font-size: 30px;
	margin-bottom: -1ex;
	background-color: #FFF;
}


p{
	z-index: 2;
	font-size: 20px;
	top: 10px;
	font-weight: 100;
	font-family: Helvetica Neue, Times, sans-serif;
	color: white;
	font-size: 30px;
	text-align: center;
	padding-top: 60px;
}.container {
	
	height: 500px;
	width: 100%;
	background: black; 
	position: relative;
	margin-bottom: -1ex;
	margin-right: -1ex;



	
}
.scrollDown {
	height: auto;
	width: 100%;
	top: -5ex;
	z-index: 2;
	position: relative;
	font-family: Times;
	color: white;
	font-size: 30px;
	margin-bottom: -1ex;
	background-color: #FFF;
	
}
