<footer class="site-footer">
  <div class="container footer-inner">
    <div class="social">
      <a href="https://github.com/SpaceG"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/lucas-gatsas"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://x.com/LucasGatsas"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="https://www.youtube.com/@LucasGatsasAstro"><i class="fa-brands fa-youtube"></i></a>
      <a href="https://www.instagram.com/lucasgatsas/"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <p>{{ site.title }} ©. 2026 by  <a href="https://x.com/LucasGatsas">Lucas Gatsas.</a> Remoted by <a href="https://spacedig.co/">spacedig.co</a></p>
  </div>
</footer>
