


<footer id="footer">
    <div    class="profile">
        <header id="header">
        
                <a href="/about">
                    <img id="avatar" class="2x" src="/assets/images/avatar.png">
                </a>
            
                <h1>Clone my GitHub Sources</h1>
                <h2>follow me <a href="https://github.com/spaceg">@github.com/spaceg </a></h2>
            </header>
        </div>
<section id="wrapper" class="home">

    
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/lmnXoAsRC7Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>



        <ul id="post-list">
        
            <li>
                <a href="https://github.com/SpaceG/oAuthy-SailsJS-PassportJS-MongoDB-Authentication"><aside class="dates">Clone</aside></a>
                <a href="https://github.com/SpaceG/oAuthy-SailsJS-PassportJS-MongoDB-Authentication">oAuthy-SailsJS-PassportJS-MongoDB-Authentication <h2>$ git clone https://github.com/SpaceG/oAuthy-SailsJS-PassportJS-MongoDB-Authentication.git</h2></a>
            </li>
        
            <li>
                <a href="https://github.com/SpaceG/salt-hash-password"><aside class="dates">Clone</aside></a>
                <a href="https://github.com/SpaceG/salt-hash-password">
                    A Node.js - Salt/ Hash -  sha512 Password Generator <h2>$ git clone https://github.com/SpaceG/salt-hash-password.git</h2></a>
            </li>
        
        
    </ul>
      </section>

    <p class="small">© Copyright {{ site.time | date: '%Y' }} {{ site.author }}</p>
</footer>

