<head>
<!--
Author : Lucas Gatsas
Web: www.lucasgatsas.ch
Twitter : https://www.twitter.com/lucasgatsas
Mail: lucasgatsas@gmail.com
Gitlist: http://www.gitlist.io/lucas-gatsas

Theme: www.lucasgatsas.ch
Git : $ git clone https://github.com/SpaceG/spaceg.github.io.git

http://lucasgatsas.ch
https://www.twitter.com/LucasGatsas

 --> 

 		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title id="title">Lucas Gatsas - I'm code UI/UX design & digital experiences to bash the universe.</title>


    <link rel="author" title="Lucas Gatsas" href="https://plus.google.com/101826267816845608605/posts"/> 
    <meta name="google-site-verification" content="F5lkHug5Hdw4XRPcwJuQsK01auhET-yWy1o5SrCM-Sw" />
 


      <meta name="viewport" content="width=device-width, initial-scale=1"> 
     <meta name="robots" content="index, follow" />
      <meta name="description" content="{{ site.description }}">


       <meta name="keywords" content="Lucas Gatsas, Gatsas, Web Developer, Front End Engineer, Web Entwickler, Web Designer, Marketing, Online Marketing, St. Gallen, Switzerland, Schweiz"> 

       <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon-7326478236.png" type="image/x-icon" />

     
       <meta property="og:image" content="{{ site.baseurl }}/img/figure-4.png"/>
        <meta property="og:title" content="{{ site.description }}"/>
         <meta property="og:site_name" content="{{ site.description }}"/> 
         <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> 
    





		
		
		<link rel="shortcut icon" href="icon.png">
		<link rel="icon" href="icon.png" type="image/x-icon">
		
		<!--Fonts - changed to Source Code Pro-->
		<link href='http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>
		
		<!--CSS-->
     <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">    
 
</head>

