<nav class="main-nav">
    {% if page.url != "/" %}
        <a href="{{ "/" | relative_url  }}"> <span class="arrow">←</span> Home </a>
    {% endif %}

    {% if page.url != "/about/" %}
        <a href="{{ "/" | relative_url  }}about">About </a>
    {% endif %}

    
    <a href="https://spaceg.github.io/angular6/" target="_blank">Angular 6 Major Coding </a>
    <a href="https://www.paypal.me/sysadmincat" target="_blank">Donate </a>
    <a href="https://github.com/spaceg" target="_blank">Github </a>
    <a  class="cta"  href="https://aphexthemes.ch" target="_blank" id="spaceg-new">aphexthemes.ch </a>
    <!-- <a class="cta" href="{{ "/" | relative_url  }}feed.xml">Subscribe</a> -->
</nav>