<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}
            <a href="{{ "/" | relative_url  }}about">
                <img id="avatar" class="2x" src="{{ "/" | relative_url  }}assets/images/avatar.png"/>
            </a>
        {% else %}
            <img id="avatar" class="2x" src="{{ "/" | relative_url  }}assets/images/avatar.png"/>
        {% endif %}
            <h1>{{ site.author }}</h1>
            <h2>{{ site.description }}</h2>
        </header>
       <a href="https://spaceg.github.io/angular6/" target="_blank"><img  src="{{ "/" | relative_url  }}assets/images/angular6_CLI.png"/></a>
    </section>
</div>

<div class="eupopup eupopup-bottom"></div>
