<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}
            <a href="{{ "/" | relative_url  }}about">
                <img id="avatar" class="2x" src="{{ "/" | relative_url  }}assets/images/avatar.png"/>
            </a>
        {% else %}
            <img id="avatar" class="2x" src="{{ "/" | relative_url  }}assets/images/avatar.png"/>
        {% endif %}
            <h1>{{ site.author }}</h1>
            <h2>{{ site.description }}</h2>
        </header>




    </section>





    <div class="container">
        <div class="example" id="example1">
            <h2>
                <small>Visit Angular Major Coding </small><br>
                Last Angular 6 Tutorials 
                <span class="show-code" title="Show the code">?</span>
            </h2>
            <div class="example-container" id="example1-container"></div>
        </div>

     <!--   <div class="example" id="example2">
            <h2>
                <small>Example 2</small><br>
                Gallery with videos opening in their YouTube pages
                <span class="loading" id="example2-loading"></span>
                <span class="show-code" title="Show the code">?</span>
            </h2>
            <div class="example-container" id="example2-container"></div>
            <div class="pagination">
                <span id="example2-prev-page">< Previous</span>
                <span id="example2-next-page">Next ></span>
            </div>
        </div> -->

      <!--  <div class="example" id="example3">
            <h2>
                <small>Example 3</small><br>
                Gallery with embed videos
                <span class="loading" id="example3-loading"></span>
                <span class="show-code" title="Show the code">?</span>
            </h2>
            <div class="example-container" id="example3-container"></div>
            <div class="pagination">
                <span id="example3-prev-page">< Previous</span>
                <span id="example3-next-page">Next ></span>
            </div>
        </div> --> 
<!--
        <div class="example" id="example4">
            <h2>
                <small>Angular 6 Tutorials</small><br>
                Let's get start with Angular 6 
                <span class="loading" id="example4-loading"></span>
                <span class="show-code" title="Show the code">?</span>
            </h2>
            <div class="example-container" id="example4-container"></div>
            <div class="pagination">
              <span id="example4-prev-page">< Previous</span>
                <span id="example4-next-page">Next ></span> 
            </div>
        </div>-->

     <!--   <div class="example" id="example5">
            <h2>
                <small>Example 5</small><br>
                Gallery with thumbnails and an area to show the selected video
                <span class="loading" id="example5-loading"></span>
                <span class="show-code" title="Show the code">?</span>
            </h2>
            <div class="media-viewer" id="example5-media-viewer"></div>
            <div class="thumbnails">
                <div class="example-container" id="example5-container"></div>
                <div class="pagination">
                    <span id="example5-prev-page">< Previous</span>
                    <span id="example5-next-page">Next ></span>
                </div>
            </div>	-->			
        </div>
    </div>







</div>