*{box-sizing:border-box;}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,
               "SF Pro Text", "SF Pro Display",
               "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background: #fff;
  color: #828282;
      line-height: 33px;
}
p {
    margin: 0;
    padding: 5px;
}
a{text-decoration:none;}
.container{max-width:700px;width:100%;margin:0 auto;padding:0 1.25rem;}
.site-header,.site-footer{background:#fff;border-bottom:1px solid #eee;}
.header-inner{display:flex;justify-content:space-between;align-items:center;height:70px;}
.logo {
    color: black;
}
.logo a{color:#000;font-weight:600;}
.main-nav a{color:#777;padding:0.5rem 1rem;margin-left:0.5rem;}
.main-nav a:hover{color:#000;}
main{margin:3rem auto;}
.page-title{margin-bottom:2rem;font-size:2rem;font-family: monospace;}
.page-title a{color:#000;}
article {
    line-height: 23px;
}
article h2 a{color: #000000;
    font-family: monospace;
    font-size: 23px;}
article h2 a:hover{color:#000;}
.footer-inner{padding:90px;text-align:center;}
.social a{margin:0 .6rem;font-size:1.2rem;color:#777;}
.site-footer p{color:#999;font-size:.85rem;}
footer.site-footer a {
    color: black ! Important;
}
.social {
    color: black;
}
small {
    font-family: georgia;
    font-style: italic;
    color: gray;
}
strong {
    color: black;
}




/* FORCE ALL LINKS TO BE COLOR-NEUTRAL */
a,
a:visited,
a:hover,
a:active,
a:focus {
 /* color: inherit !important;*/
  text-decoration: none;
      color: #000000;
}
h2 {
 font-size: 2rem;
    color: black;
    padding: 0;
    margin: 0;
}
/* Profile Card */
.profile-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem 0 0;
  padding: 0 1.25rem;
}

.profile-card {

    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    /* min-width: 320px; */
    /* max-width: 400px; */
    border-radius: 12px;
    border: 1px solid var(--border-subtle);
    background: var(--surface-card-strong);
    backdrop-filter: blur(8px);
    text-decoration: none;
    color: var(--text-primary);
    transition: all .25s cubic-bezier(.4, 0, .2, 1);
    flex-shrink: 0;
}

.profile-avatar {
    width: 56px;
    height: 56px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.profile-name {
  font-size: 1.4rem;
  font-weight: 600;
  color: #2b2b2b;
}

.profile-meta {
  font-size: 0.95rem;
  opacity: 0.8;
  color: #070707;
}

.profile-social {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.profile-social a {
  margin-left: 0.75rem;
  font-size: 1.2rem;
  color: #000000 !important;
}

.profile-social a:hover {
  opacity: 0.7;
}

@media (max-width: 600px) {
  .profile-card {
   /* flex-wrap: wrap;
    gap: 1rem;
    padding: 1.25rem;*/
  }
  .profile-social {
    /* margin-left: 0;
    width: 100%;*/
  }
}
