/* Our Overwriting stylesheet css for our layout */

/* === GLOBAL SETTINGS === */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body, html {

    background-color:#25282b!important;
    font-family: 'Open Sans', sans-serif;

}
a {
    color: #5D5F60;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:hover {
    color: #868686;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

/* Container Settings Padding */
.container {
    padding: 30px;
}

/* Navbar settings li */

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-item, li {

    margin-right: 15px;
}
img {
    border-radius: 8px;
    padding: .20rem;
    width: 100%;
    border: 0px;
}
/* Series Layout Grid */
.series {

    min-height: 50rem;
    padding-top: 3rem;
}
/* Card Grid Settings  */
.card {
    font-family: 'Open Sans', sans-serif;
    float: left;
    width: 33.33%;
    padding: .3rem;
    border: 0px;
    background-color: #25282b!important;

}
.card-text {

    color:white;

}
.card > img {
    border-radius: 8px;
    padding: .20rem;
      width: 100%;
    border: 0px;
}
/* Buttons */
.btn-primary {
    color: #fff;
    background-color: #4b3e8e;
    border-color: #4b3e8e;
}
/* Button send to the contact and about page */

a##send:hover {
 color: white;

}

/* Navbar background color seetings */
.bg-dark {
    background-color: #212427!important;
}

/* jumbotron */
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #31363c;
    border-radius: .4rem;
}.jumbotron h1 {
    color:white;
}.lead, p {
    color:white;
}
/* figure stylesheet */
 figure img {
    width: 120px;
    border: 2px solid rgb(136, 136, 136);
    border-radius: 50%;
    margin: 0 auto;
    display: block;

 }

 /* form controlls */

 .form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #4a4a4a;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*/ Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap*/

/*/ Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {


 }

/*/ Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {


    .card {

            float: left;
            width: 100%;
            padding: .3rem;
            border: 0px;

        }
        .jumbotron h1 {
            color: white;
            font-size: 34px;
        }
 }

/*/ Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {


 }

/*/ Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {


}
