

small {
	color: #9B9B9B;
}

img {
	max-width: 100%;
}


/*
 * Main page *
 */
.yt-api-header-inner {
    margin: 0 auto;
    display: table;
    width: 200px;
}
.main-page {
	text-align: center;
}

.plugin-name {
	margin: 50px 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 144px;
	font-weight: normal;
	letter-spacing: -5px;
}

.plugin-description {
	margin: 0;
	font-size: 48px;
	font-weight: normal;
}

.menu {
	position: relative;
	overflow: hidden;
	max-width: 864px;
	margin: 50px auto;
	border-radius: 2px;
}

.menu .background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: #E74C3C;
	opacity: .80;
}

.menu .thumbnails img {
	float: left;
	width: 54px;
	-webkit-filter:blur(3px);
    filter:blur(3px);
}

.menu a,
.menu small {
	color: #fff;
}

.menu a {
	font-size: 20px;
	text-decoration: none;
	transition: opacity 0.1s;
}

.menu a:hover {
	opacity: .7;
}

.menu small {
	font-size: 18px;
}

.menu ul {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 20;
	height: 25px;
	margin: auto;
	padding: 0;
	list-style-type: none;
}

.menu ul li {
	display: inline-block;
	margin: 0 15px;
}

.plugin-current-version {
	font-size: 20px;
	color: #9B9B9B;
}

/*
 * YTAPI_CONTENTs *
 */

.YTAPI_CONTENT .show-code {
	display: inline-block;
	float: right;
	width: 20px;
	height: 20px;
	font-size: 15px;
	text-align: center;
	color: #fff;
	background: #E74C3C;
	border-radius: 100%;
	cursor: pointer;
}

.YTAPI_CONTENT .code {
	display: none;
}

.YTAPI_CONTENT .loading {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 5px;
	background: url("loading.gif") no-repeat;
	vertical-align: middle;
}

.YTAPI_CONTENT .pagination {
	padding: 10px 0;
	text-align: center;
}

.YTAPI_CONTENT .pagination span {
	display: inline-block;
	padding: 8px;
	margin: 0 1px;
	border: 1px solid #ccc;
	border-radius: 2px;
	cursor: pointer;
	color:#ccc;

}

.YTAPI_CONTENT .pagination span.disabled {
	cursor: default;
}

.YTAPI_CONTENT .pagination span:hover:not(.disabled) {
	color: #fff;
	background: #E74C3C;
}

.YTAPI_CONTENT-container {
	overflow: hidden;
	margin: 0 -5px;
}

.YTAPI_CONTENT-container iframe,
.YTAPI_CONTENT-container img {
	display: block;
    width: 120%;
}

.YTAPI_CONTENT-container .video-item {
	float: left;
	box-sizing: border-box;
	padding: 5px;
	cursor: pointer;
}

/* YTAPI_CONTENT 1 - Simple last video */

#YTAPI_CONTENT1 iframe {
	width: 310px;
	height: 175px;
}

/* YTAPI_CONTENT 2 - Gallery with videos opening in their YouTube pages */

#YTAPI_CONTENT2 .video-item {
	width: 16.66666666666667%;
	transition: opacity 0.3s;
}

#YTAPI_CONTENT2 .YTAPI_CONTENT-container:hover .video-item {
	opacity: .8;
}

#YTAPI_CONTENT2 .YTAPI_CONTENT-container:hover .video-item:hover {
	opacity: 1;
}

#YTAPI_CONTENT2 .video-item img {
	max-width: 100%;
}

/* YTAPI_CONTENT 3 - Gallery with embed videos */

#YTAPI_CONTENT3 .video-item {
	width: 33.33333333333333%;
}

#YTAPI_CONTENT3 .video-item iframe {
	width: 100%;
	height: 175px;
}

/* YTAPI_CONTENT 4 - Gallery with videos opening through the Fancybox */

#YTAPI_CONTENT4 .video-item {
	width: 20%;
}

#YTAPI_CONTENT4 .video-item:nth-child(6n) {
	clear: both;
}

#YTAPI_CONTENT4 .video-item .title {
	display: block;
	margin-top: 5px;
}

/* YTAPI_CONTENT 5 - Gallery with thumbnails and an area to show the selected video */

#YTAPI_CONTENT5 .media-viewer {
	/*float: left;*/
	width: 100%;
}

#YTAPI_CONTENT5 .media-viewer iframe {
	width: 100%;
	height: 615px;
}

#YTAPI_CONTENT5 .thumbnails {
	overflow: hidden;
}

#YTAPI_CONTENT5 .YTAPI_CONTENT-container {
	margin: 0;
}

#YTAPI_CONTENT5 .video-item {
	overflow: hidden;
	padding: 0;
	width: 25%;
}

#YTAPI_CONTENT5 .video-item.active {
	opacity: .50;
}
/* Hey Yo! 2*/

body {

	background:white;
}
