/* standard */
body { font:400 15px 'Lato', sans-serif; -webkit-font-smoothing:antialiased; color:#727272; overflow-x: hidden }
a { transition: all 0.3s; color: #E23C52}
a:hover, a:focus { text-decoration:none; outline: none; }
img { max-width:100%; height:auto; }

hr { position:relative; border-top:none; clear:both; }
hr:after { content:''; margin:15px 0; background:url(../images/dots.png) repeat-x; position:absolute; bottom:0; left:44%; right:44%; height:1px; }

/* texts */
h1, .h1 { margin:0 0 0.7em 0; text-transform:uppercase; letter-spacing:0.05em; font-weight:900; font-size:3.333em; line-height:1.2em; color:#5C5C5C; }
h2, .h2 { margin:0 0 0.7em 0; text-transform:uppercase; line-height:1.2em; letter-spacing:0.01em; font-weight:700; font-size:2em; color:#5C5C5C; }
h3, .h3 { margin:1em 0 0.5em 0; letter-spacing:0.02em; line-height:1.2em; font-size:1.667em; color:#5C5C5C; }
h4, .h4 { margin:0 0 1em 0; text-transform:uppercase; line-height:1.2em; letter-spacing:0.02em; font-weight:600; font-size:1.667em; color:#5C5C5C; }
h5, .h5 { margin:0 0 1em 0; line-height:1.174em; letter-spacing:0.02em; font-weight:600; font-size:1.533em; color:#5C5C5C; }
h6, .h6 { margin:0 0 1em 0; line-height:1.2em; letter-spacing:0.03em; font-weight:600; font-size:1.267em; color:#5C5C5C; }
p { margin:20px 0; line-height: 1.9em; }

/* nav */
nav ul { margin:0; padding:0; list-style:none; }
nav ul li { margin:0; padding:0; }

.table-wrap { overflow-x:auto; }

.content-wrap { padding:55px 0; }
.teamprofile-wrap { padding:35px 0; }
.teamprofile-content-wrap { padding:25px 0; }

@media (min-width:768px) {
.main-wrap { position: relative; width: 100%; height: auto; background: #FFF; margin-bottom: 330px; z-index: 1;}
.content-wrap { padding:75px 0; }
.teamprofile-wrap { padding:135px 0 70px; }
.teamprofile-content-wrap { padding:65px 0; }
}
@media (min-width:768px) and (max-width:991px){
.teamprofile-wrap { padding:185px 0 90px; }
.teamprofile-content-wrap { padding:45px 0; }
}
@media (min-width:1025px) {
.parallax { position:relative; margin-top:0px; z-index:2; background:#FFF; }
.parallax.deep { margin-top:750px; }
}

/* forms */
form { margin:0; }
input[type="text"],
textarea, 
select { margin:0; border:1px solid #EDEDED; padding:17px 10px; width:100%; height:auto; background:#EDEDED; font-size:1.133em; color:#878787; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
textarea { min-height:205px; }
input:hover, input:focus,
textarea:hover, textarea:focus { border:1px solid #C4C4C4; outline:none; }

.field_wrap { margin:0 0 22px 0; }
.label_wrap { position:absolute; left:-9999px; }
.submit_wrap { margin:20px 0 0 0; }

label.error { color:red; }
input.error { padding:16px 10px; border:2px solid #E3B0B9; background:url('../images/form-error.png') no-repeat 98% center #EDEDED; }
textarea.error { padding:16px 10px; border:2px solid #E3B0B9; background:url('../images/form-error.png') no-repeat 98% 20px #EDEDED; }
.error_feedback { margin:1em 0; padding:15px; border:2px solid #E3B0B9; }
.error_feedback ul { margin:0; padding:0; list-style:none; }
.error_feedback ul li { display:block; margin:0; padding:5px 0 5px 25px; font-weight:700; color:#2D2739; background:url('../images/form-error.png') no-repeat 0 9px; }

/* helpers */
.spaced { margin-bottom:30px !important; }
.clear { clear:both !important; float:none !important; }
.aligncenter { text-align:center !important; }
.underlined { text-decoration:none !important; padding-bottom:0.3em !important; border-bottom:1px dotted #0088CC !important; }
.underlined:hover, .underlined:focus { border-bottom:1px solid #005580 !important; }
.centered { position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); transform:translate(-50%, -50%); }
.centered-vertically { position:absolute; top:50%; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); }
.border-bottom { border-bottom:1px solid #CCC; }
.border-top { border-top:1px solid #CCC; }
.sr-only { position:absolute; left:-9999999px; }
.float-left { float:left; }
.float-right { float:right; }

/* buttons */
.button { position:relative; display:inline-block; border:none; border-radius:1px; padding:18px 25px 16px; text-align:center; text-decoration:none !important; text-transform:uppercase; font:600 1.133em 'proxima-nova', sans-serif; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; transition:all 0.3s ease; -webkit-transform:translateZ(0); -moz-transform:translateZ(0); -ms-transform:translateZ(0); transform:translateZ(0); }
.button span { position:relative; left:0; -webkit-transition:left 0.2s ease-out; -moz-transition:left 0.2s ease-out; transition:left 0.2s ease-out; }
.button i { position:absolute; top:0; right:9%; width:20px; height:100%; opacity:0; -webkit-transition:right 0.2s ease-out, opacity 0.3s ease-out; -moz-transition:right 0.2s ease-out, opacity 0.3s ease-out; transition:right 0.2s ease-out, opacity 0.3s ease-out; }
.button i:after { content:'\f178'; position:absolute; top:50%; left:0; font:15px 'FontAwesome'; -webkit-transform:translateY(-51%); -moz-transform:translateY(-51%); -ms-transform:translateY(-51%); transform:translateY(-51%); }

.button:hover span, 
.button:focus span { left:-10px; }
.button:hover i, 
.button:hover i:focus { right:9px; opacity:1; }

.signUp { line-height: 3; padding: 6px 5px; background: #2D2739; color: #FFF; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; transition:all 0.3s ease;}
.signUp:hover { background: #E23C52; color: #FFF; }
.signUp:focus { color: #E23C52; }
.back-button { text-transform:none; font-size:1.067em; font-weight:700; }
.back-button:before { content:'\f177'; position:relative; top:2px; margin-right:10px; font:15px 'FontAwesome'; }
.share-button { position:relative; text-transform:none; font-size:1.067em; font-weight:700; }
.share-button:before { content:'+'; margin-right:10px; }
.submit_wrap button { border:0; padding:27px 10px 24px; width:100%; text-transform:uppercase; text-align:center; font-weight:600; font-size:1.2em; -webkit-transition:background 0.3s; -moz-transition:background 0.3s; transition:background 0.3s; }

.submit_wrap button { background:#2D2739; color:#fff; } .submit_wrap button:hover, .submit_wrap button:focus { background:#E23C52; color:#FFF; }
.button { border:2px solid #2D2739; background:none; color:#2D2739; } 
.button:hover, .button:focus { background:#000000; color:#FFF; } .button:active { background:#B32927; }
.more-articles-button { display:block; border-color:#343434; letter-spacing:0.1em; background:#343434; color:#FFF; } .more-articles-button:hover, .more-articles-button:focus { border-color:#272727; background:#272727; }
.back-button, .share-button { border:2px solid #EAEAEA; color:#5C5C5C; } .back-button { background:#EAEAEA; }
.back-button:hover, .back-button:focus,
.share-button:hover, .share-button:focus { border:2px solid #2D2739; } .back-button:active, .share-button:active { border:2px solid #B32927; }

@media (max-width:991px){
.footer-button {
    color: #FFF;
    border: 2px solid #FFF;
    margin-top: 10px;
}
}
a#buttons-top {
    padding: 10px;
    color: white;
}

/* googlemap */
#map,
.googlemap { height:475px; }
.googlemap *, .googlemap *:before, .googlemap *:after { -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; }
.googlemap-load { width:100%; height:100%; }
.googlemap img { max-width:none; }

/* pagination */
.pagination-wrap { position:relative; z-index:2; border:0 solid #CCC; border-top-width:1px; border-bottom-width:1px; text-align:center; background:#FFF; }
.pagination { margin:0; padding:40px 0; vertical-align:middle; border-radius:0; }
.pagination li { display:inline-block; padding:0; background:none; }
.pagination li a,
.pagination li span { position:relative; margin:0 0 0 2px; padding:6px 30px; background:none; font:600 1.067em 'proxima-nova', sans-serif; color:#5C5C5C; border:none; }

.pagination > li > a:focus, .pagination > li > a:hover, 
.pagination > li > span:focus, .pagination > li > span:hover { background:none; color:#5C5C5C; }

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, 
.pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover { background:none; color:#5C5C5C; }
.pagination li.active span, 
.pagination li.active a { background:none; color:#5C5C5C; }

.pagination > li:first-child > a, .pagination > li:last-child > a,
.pagination > li:first-child > span, .pagination > li:last-child > span { padding:6px 10px; text-transform:uppercase; letter-spacing:0.2em; background:none !important; font-weight:600; font-size:1.067em; color:#5C5C5C !important; border-radius:0; -webkit-transition:background 0.3s; -moz-transition:background 0.3s; transition:background 0.3s; }
.pagination > li:first-child > a, .pagination > li:first-child > span { margin-right:30px; }
.pagination > li:last-child > a, .pagination > li:last-child > span { margin-left:30px; }
.pagination > li:first-child > a:hover, .pagination > li:first-child > a:focus,
.pagination > li:last-child > a:hover, .pagination > li:last-child > a:focus { background:none !important; color:#2D2739 !important; }
.pagination > li:first-child i,
.pagination > li:last-child i { vertical-align:middle; }
.pagination > li:first-child i { margin-right:20px; }
.pagination > li:last-child i { margin-left:20px; }

@media (min-width:768px) {
.pagination > li > a:before, 
.pagination > li > span:before { content:''; position:absolute; top:-47px; left:50%; opacity:0; margin-left:-6px; border:1px solid #2D2739; border-radius:50%; width:12px; height:12px; background:#FFF; -webkit-transform:scale(0.8,0.8); -moz-transform:scale(0.8,0.8); -ms-transform:scale(0.8,0.8); transform:scale(0.8,0.8); -webkit-transition:all 0.4s; -moz-transition:all 0.4s; transition:all 0.4s; }
.pagination > li > a:focus:before, .pagination > li > a:hover:before, 
.pagination > li > span:focus:before, .pagination > li > span:hover:before { opacity:1; -webkit-transform:scale(1,1); -moz-transform:scale(1,1); -ms-transform:scale(1,1); transform:scale(1,1); }

.pagination li.active span:before, 
.pagination li.active a:before { opacity:1; -webkit-transform:scale(1,1); -moz-transform:scale(1,1); -ms-transform:scale(1,1); transform:scale(1,1); }

.pagination > li:first-child > a:hover:before, .pagination > li:first-child > a:focus:before,
.pagination > li:first-child > span:hover:before, .pagination > li:first-child > span:focus:before,
.pagination > li:last-child > a:hover:before, .pagination > li:last-child > a:focus:before,
.pagination > li:last-child > span:hover:before, .pagination > li:last-child > span:focus:before { opacity:0; }
}

/* gutter manipulation */
@media (min-width:768px) {
.row-horizontal { white-space:nowrap; }
.row-horizontal div[class^="col-"] { float:none; display:inline-block; vertical-align:middle; white-space:normal; }
.row-horizontal div[class^="col-"] + div[class^="col-"] { margin-left:-4px; }
}

.no-gutter > [class*='col-'] { padding-right:0; padding-left:0; }

/* ===================
   MENUS
====================== */
/* mainmenu */

@media (min-width:768px) {
.mainmenu-wrap { text-align:right; }
.mainmenu li { position:relative; display:inline; margin:0; padding:0; z-index:200; }
.mainmenu li a { position:relative; display:inline-block; margin:0 5px 0 0; padding:0 8px; text-transform:uppercase; line-height:39px; letter-spacing:0.15em; background:none; font-weight:600; font-size:0.933em; color:#FFF; }
.mainmenu > li > a:after { content:''; position:absolute; bottom:-5px; left:50%; opacity:0; border-radius:50%; width:7px; height:7px; background:#FFF; -webkit-transform:translate(-50%, -10px); -moz-transform:translate(-50%, -10px); -ms-transform:translate(-50%, -10px); transform:translate(-50%, -10px); -webkit-transition: opacity 0.3s, -webkit-transform 0.3s ease-out; -moz-transition:opacity 0.3s, -moz-transform 0.3s ease-out; -ms-transition:opacity 0.3s, -ms-transform 0.3s ease-out; transition:opacity 0.3s, transform:0.3s ease-out; }
.mainmenu li:hover a:after, 
.mainmenu li a:focus:after { opacity:1; -webkit-transform:translate(-50%, 0); -moz-transform:translate(-50%, 0); -ms-transform:translate(-50%, 0); transform:translate(-50%, 0); }
   
.mainmenu li ul { position:absolute; top: 62px; left:0; right:3px; margin:0 0 0 0; min-width:200px; background:rgba(42,43,47,.9); border-radius: 0; padding-top: 0; padding-bottom: 0;}
.mainmenu li ul li { display:block; text-align: left; }
.mainmenu li ul li a { display:block; margin:0; padding:12px 10px; border-radius:0; line-height:1em; font-size:0.9em; }
.mainmenu li ul li a:hover, 
.mainmenu li ul li a:focus { background:#EAEAEA; }

  
.mainmenu li.selected a:after { opacity:1; -webkit-transform:translate(-50%, 0); -moz-transform:translate(-50%, 0); -ms-transform:translate(-50%, 0); transform:translate(-50%, 0); }
}
@media (min-width:768px) and (max-width:991px){
nav ul { text-align: center }
.mainmenu li a { letter-spacing:0.02em; }
}
@media (min-width:1200px){
.mainmenu li a { padding:0 15px; line-height:48px; }
}

/* responsive menu */
@media (max-width: 767px) {
.menu-respond { margin:0 -15px; text-align:left; background:rgba(42,43,47,.5); }
.menu-respond a,
.menu-respond span { display:block; line-height:1em; text-transform:uppercase; font-weight:600; color:#fff; }
.menu-respond ul { margin:0; padding:0; list-style:none; background:rgba(42,43,47,.9); }
.menu-respond ul li { margin:0; padding:0; }
.menu-respond ul li a,
.menu-respond ul li span { padding:14px 29px; }
.menu-respond ul li ul li a { padding:14px 29px 14px 45px; }
.menu-respond ul li.selected > a,
.menu-respond ul li.selected > span { background:#FFF; color:#2D2739; }

.menu-collapse { display:none; }
.menu-toggle { position:relative; padding:18px 49px 18px 29px; }

.menu-toggle span { position:absolute; top:50%; right:29px; display:block; margin-top:-1px; width:20px; height:3px; background:#FFF; }
.menu-toggle span:before, .menu-toggle span:after { content:''; position:absolute; left:0; width:100%; height:100%; background:#FFF; -webkit-transform:translateZ(0); -moz-transform:translateZ(0); -ms-transform:translateZ(0); transform:translateZ(0); backface-visibility:hidden; -webkit-transition:-webkit-transform 0.3s; -moz-transition:-moz-transform 0.3s; -ms-transition:-ms-transform 0.3s; transition:transform 0.3s; }
.menu-toggle span:before { top:-8px; -webkit-transform:rotate(0); -moz-transform:rotate(0); -ms-transform:rotate(0); transform:rotate(0); }
.menu-toggle span:after { bottom:-8px; -webkit-transform:rotate(0); -moz-transform:rotate(0); -ms-transform:rotate(0); transform:rotate(0); }

.menu-toggle.open span { background:#2D2739; }
.menu-toggle.open span:before { top:0; -webkit-transform:rotate(135deg); -moz-transform:rotate(135deg); -ms-transform:rotate(135deg); transform:rotate(135deg); }
.menu-toggle.open span:after { bottom:0; -webkit-transform:rotate(225deg); -moz-transform:rotate(225deg); -ms-transform:rotate(225deg); transform:rotate(225deg); }
}
@media (min-width:768px) {
.menu-toggle { display:none !important; }
.menu-toggle.visible { display:block !important; }
.menu-collapse { display:block !important; }
}

/* submenu */
.submenu-wrap { margin:-75px -15px 20px; }

@media (min-width:768px) {
.submenu-wrap { position:absolute; top:-75px; margin:0; width:100%; }
.submenu { border:1px solid #EEE; border-top:0; padding:30px 0; }
.submenu li { display:block; }
.submenu li a,
.submenu li span { position:relative; display:block; padding:5px 27px; text-transform:uppercase; letter-spacing:0.075em; font:700 1.6em/1.667em 'proxima-nova', sans-serif; color:#5C5C5C; }
.submenu li a:before,
.submenu li span:before { content:''; position:absolute; top:18px; left:-7px; opacity:0; border:1px solid #2D2739; border-radius:50%; width:13px; height:13px; background:#FFF; -webkit-transform:scale(0.8,0.8); -moz-transform:scale(0.8,0.8); -ms-transform:scale(0.8,0.8); transform:scale(0.8,0.8); -webkit-transition:all 0.4s; -moz-transition:all 0.4s; transition:all 0.4s; }
.submenu > li > a:before,
.submenu > li > span:before { top:13px; }
.submenu li a:hover:before, 
.submenu li a:focus:before { opacity:1; -webkit-transform:scale(1,1); -moz-transform:scale(1,1); -ms-transform:scale(1,1); transform:scale(1,1); }
.submenu li.selected a:before { opacity:1; -webkit-transform:scale(1,1); -moz-transform:scale(1,1); -ms-transform:scale(1,1); transform:scale(1,1); }

.submenu li ul li a,
.submenu li ul li span { padding:14px 27px; letter-spacing:0.15em; font:400 1em 'proxima-nova', sans-serif; }
}

/* ===================
   HEADER
====================== */
.header { position:absolute; top:0;  padding: 0 0 25px; width:100%; z-index:2; }
.header-logo { display:inline-block; max-width:100%; }
.header-phone-number, 
.header-phone-number a { letter-spacing:0.09em; font:600 1em/39px 'proxima-nova', sans-serif; color:#FFF; background: rgba(45, 39, 57, 0.7); padding: 0 15px; }
.header-phone-number:before { content:'\f095'; margin-right:5px; font:12px 'FontAwesome'; }

@media (max-width:768px) {
.header { border-bottom:none; background:rgba(19, 23, 33, 0.9); padding-bottom: 0; }

}
@media (max-width:991px){
.header { text-align:center; }
.header-logo { margin: 0 auto 20px; width: 300px; }
}
@media (min-width:768px) and (max-width:1199px){
.header-phone-number { letter-spacing:0; font-size:0.9em; }
.header-phone-number:before { margin-right:0; }
}
@media (min-width:991px) {
.header-phone-number, .header-phone-number a { float: right; margin-right: 40px; }
}

.header-image { position:relative; width:100%; height:700px; display:block; overflow: hidden; }
.header-image:after { content:''; position:absolute; top:0; left:0; width:100%; height:100%; background: rgba(7, 8, 8, 0.7); }


/* ===================
   FOOTER
====================== */
.footer { position:relative; z-index:2; }
.footer-upper { padding:40px 0; text-align:center; background:#080808; color: #FFF; }
.footer-upper .h2 { color: #FFF; }
.footer-button { color: #FFF; border: 2px solid #FFF; }
.footer-lower { padding:50px 0 0; text-align:center; background:#000; }

@media (min-width:768px) {
.footer-wrap { bottom: 0; position: fixed; z-index: -1; left: auto; width: 100%; margin-top: 400px;}
.footer-lower { text-align:left; }
}
@media (min-width:768px) and (max-width:991px){
.footer-upper .row-horizontal div[class^="col-"] { display:block; }
.footer-upper .row-horizontal div[class^="col-"] + div[class^="col-"] { margin-left:0; }
}
@media (min-width:992px) {
.footer-upper { text-align:left; }
}

/* footer nav */
footer nav a { display:inline-block; }

.footer-nav li { display:inline-block; }
.footer-nav li a { position:relative; margin:0 19px 25px 19px; text-transform:uppercase; letter-spacing: 0.15em; font:600 0.933em 'proxima-nova', sans-serif; color:#5C5C5C; }
.footer-nav li a:after { position: absolute; bottom:-12px; left:0; width:100%; height:2px; background: rgba(92,92,92,0.8); content: ''; opacity: 0; -webkit-transition: opacity 0.3s, bottom 0.3s; -moz-transition: opacity 0.3s, bottom 0.3s; transition: opacity 0.3s, bottom 0.3s; }
.footer-nav li a:hover:after, 
.footer-nav li a:focus:after { bottom:-5px; opacity: 1; } 

@media (min-width:768px) {
.footer-nav li:first-child a { margin-left:0; }
}
@media (min-width:992px) {
.footer-nav li a { margin-bottom:0; }
}
@media (min-width:992px) and (max-width:1199px){
.footer-nav li a { margin:0 14px; }
}

/* underlinks */
.underlinks ul li { display:inline; }
.underlinks ul li a { display:inline-block; margin-bottom:10px; padding:0 4px; border-left:1px solid #727272; line-height:1em; font-weight:600; color:#727272; }
.underlinks ul li a:hover,
.underlinks ul li a:focus { text-decoration:underline; }
.underlinks ul li:first-child a { padding-left:0; border:none; }

@media (min-width:768px) and (max-width:991px){
.underlinks ul li a { font-size:0.9em; }
}

/* footer copyright */
.footer-copyright { font-size:1em; font-weight:600; color:#727272; width: 100%; text-align: center; margin-top: 50px; }

@media (min-width:768px) and (max-width:991px){
.footer-copyright { font-size:0.9em; }
}

/* footer social media */
.footer-socialmedia { margin:25px 0; }
.footer-socialmedia a { display:inline-block; margin-left:40px; }
.footer-socialmedia a:first-child { margin-left:0; }
.footer-socialmedia i { font-size:24px; color:#777; -webkit-transition:color 0.2s; -moz-transition:color 0.2s; transition:color 0.2s; }
.footer-socialmedia .fa-google-plus { font-size:22px; }

.footer-socialmedia a:hover .fa-facebook, .footer-socialmedia a:focus .fa-facebook { color:#4B6EBA; }
.footer-socialmedia a:hover .fa-twitter, .footer-socialmedia a:focus .fa-twitter { color:#4EABF0; }
.footer-socialmedia a:hover .fa-youtube, .footer-socialmedia a:focus .fa-youtube { color:#E12C25; }
.footer-socialmedia a:hover .fa-google-plus, .footer-socialmedia a:focus .fa-google-plus { color:#DF4B38; }

@media (min-width:768px) {
.footer-socialmedia { margin:0; }
}

/* footer phone number */
.footer-phone-number, 
.footer-phone-number a { letter-spacing:0.09em; font-size:1.2em; font-weight:600; color:#727272; }
.footer-phone-number:before { content:'\f095'; margin-right:5px; font:12px 'FontAwesome'; }

@media (min-width:768px) {
.footer-phone-number, 
.footer-phone-number a { text-align:right; }
}
@media (min-width:768px) and (max-width:991px){
.footer-phone-number, 
.footer-phone-number a { letter-spacing:0.035em; }
}

/* ===================
   HOMEPAGE
====================== */
.home-banner-text { position:absolute; left:50%; width:100%; top:40%; z-index:1; text-align:center; -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); transform:translateX(-50%); }

.homepage-motto { padding:60px 0; text-align:center; background:#070808; color:#FFF; }
.homepage-motto-text { margin-bottom:40px; line-height:1.8em; font-size:1.667em; font-weight:400; }
.homepage-motto-subtext { display:inline-block; letter-spacing:0.15em; text-transform:uppercase; font:600 1.2em 'proxima-nova', sans-serif; color:#FFACA9; }
.homepage-motto-subtext:after { content:'\f107'; margin-left:5px; text-transform:none; vertical-align:middle; font:25px 'FontAwesome'; }
.homepage-motto-subtext:hover, 
.homepage-motto-subtext:focus { color:#E23C52; }

@media (min-width:768px) {
.homepage-motto { padding:75px 0; text-align:left; }
}

.homepage-title { position:relative; margin-bottom:55px; text-align:center; text-transform:uppercase; letter-spacing:0.09em; font:700 2em/1.2em 'proxima-nova', sans-serif; color:#5C5C5C; }


/* homepage blog */
.homepage-blog { padding:60px 0; }
.homepage-blog-item { position:relative; display:block; overflow:hidden; }

.homepage-blog-item.small { font-size:inherit; }
.homepage-blog-item.small .homepage-blog-item-image { min-height:300px; }
.homepage-blog-item.medium .homepage-blog-item-image { min-height:300px; }
.homepage-blog-item.large .homepage-blog-item-image { min-height:300px; }

.homepage-blog-item-image { -webkit-transition:-webkit-transform 1s ease; -moz-transition:-moz-transform 1s ease; -ms-transition:-ms-transform 1s ease; transition:transform 1s ease; }
.homepage-blog-item-image:before { content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:-moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%); 
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.75))); background:-webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); background:-o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); background:-ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); background:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); }
.homepage-blog-item:hover .homepage-blog-item-image, 
.homepage-blog-item:focus .homepage-blog-item-image { -webkit-transform:scale(1.05), -moz-transform:scale(1.05); -ms-transform:scale(1.05); transform:scale(1.05); }

.homepage-blog-item-body { position:absolute; bottom:30px; left:0; width:100%; padding:0 22px; color:#FFF; }
.homepage-blog-item-title { padding-top:20px; border-top:2px solid rgba(255,255,255,0.23); letter-spacing:0.04em; font:600 1.3em/1.32em 'proxima-nova', sans-serif; }

.homepage-blog-item.video:after { content:'\f04b'; position:absolute; top:50%; left:50%; font:85px 'FontAwesome'; color:#FFF; -webkit-transform:translate(-50%, -80%); -moz-transform:translate(-50%, -80%); -ms-transform:translate(-50%, -80%); transform:translate(-50%, -80%); }
.homepage-blog-item.video .homepage-blog-item-title { border:0; }

@media (min-width:768px) {
.homepage-blog { padding:90px 0; }

.homepage-blog-items.increase-margin { margin-left:-32px; }
.homepage-blog-item.small.left { margin-right:-15px; }
.homepage-blog-item.small.right { margin-left:-15px; }

.homepage-blog-item.small .homepage-blog-item-image { min-height:300px; }
.homepage-blog-item.medium .homepage-blog-item-image { min-height:300px; }
.homepage-blog-item.large .homepage-blog-item-image { min-height:600px; }
}
@media (min-width:992px) {
.homepage-blog-item.small .homepage-blog-item-image { min-height:338px; }
.homepage-blog-item.medium .homepage-blog-item-image { min-height:338px; }
.homepage-blog-item.large .homepage-blog-item-image { min-height:676px; }
}

/* ===================
   CASE STUDIES
====================== */
.casestudies { padding-bottom:120px; }
.casestudies-wrap { padding-top:70px; }

.casestudy { position:relative; display:block; float:left; text-align:center; }
.casestudy:before { content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.3); -webkit-transition:background 0.3s; -moz-transition:background 0.3s; transition:background 0.3s; }
.casestudy:hover:before, .casestudy:focus:before { background:rgba(0,0,0,.75); }

.casestudy-full { height:465px; width:100%; }
.casestudy-half { height:465px; width:100%; }
.casestudy-twothirds { height:465px; width:100%; }
.casestudy-third { height:465px; width:100%; }
.casestudy-other { width:100%; }

.casestudy-text { position:absolute; top:0; height:100%; width:100%; text-align:center; }
.casestudy-name { position:relative; top:205px; display:inline-block; margin:0 15px 12px; padding-bottom:12px; text-transform:uppercase; letter-spacing:0.075em; font:700 2em 'proxima-nova', sans-serif; color:#FFF; -webkit-transition:top 0.3s; -moz-transition:top 0.3s; transition:top 0.3s; }
.casestudy-explore { position:relative; top:100px; opacity:0; text-transform:uppercase; letter-spacing:0.06em; font-size:1.067em; font-weight:600; color:#FFF; -webkit-transition:top 0.3s, opacity 0.2s; -moz-transition:top 0.3s, opacity 0.2s; transition:top 0.3s, opacity 0.2s; }
.casestudy-explore i { margin-left:5px; font-size:13px; }
.casestudy:hover .casestudy-name, 
.casestudy:focus .casestudy-name { top:170px; border-bottom:2px solid #CA312D; }
.casestudy:hover .casestudy-explore, 
.casestudy:focus .casestudy-explore { top:170px; opacity:1; }

@media (min-width:768px) {
.casestudy-half { width:50%; }
.casestudy-twothirds { width:65%; }
.casestudy-third { width:35%; }
}
@media (min-width:992px){
.casestudy-name { font-size:2.5em; }
.casestudy-other { width:33.333%; }
.casestudy-other .casestudy-name { top:100px; font-size:1.2em; }
.casestudy-other:hover .casestudy-name,
.casestudy-other:focus .casestudy-name { top:75px; }
.casestudy-other .casestudy-explore { top:40px; font-size:1em; }
.casestudy-other:hover .casestudy-explore,
.casestudy-other:focus .casestudy-explore { top:75px; }
}
/* ===================
   PAGE HEADERS
====================== */
.image-banner-text { position:relative; z-index:1; }
.image-banner-title	{ margin-bottom:10px; text-transform:uppercase; letter-spacing:0.1em; font:800 3.5em/1.2em 'proxima-nova', sans-serif; color:#FFF; }
.image-banner-subtitle { line-height:1.32em; letter-spacing:0.03em; font-size:1.667em; font-weight:400; color:#FFF; }

.custom-image-banner, 
.generic-image-banner, 
.events-image-banner { position:relative; }
.custom-image-banner:before,
.generic-image-banner:before,
.events-image-banner:before { content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(45, 39, 57,0.55); }

.generic-image-banner .image-banner-text, 
.custom-image-banner .image-banner-text, 
.events-image-banner .image-banner-text { padding:0 15px; width:100%; }

.generic-image-banner { min-height:468px; width:100%; text-align:center; }
.generic-image-banner .image-banner-text { padding:240px 15px 50px; }

.custom-image-banner { min-height:750px; width:100%; text-align:center; }
.custom-image-banner .image-banner-text { padding:200px 15px 50px; }

.events-image-banner { min-height:468px; width:100%; text-align:left; }
.events-image-banner .image-banner-text { padding:200px 15px 50px; }

@media (min-width:1025px) {
.image-banner-text { /*position:fixed;*/ left:50%; width:100%; -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); transform:translateX(-50%); }
.generic-image-banner, 
.custom-image-banner, 
.events-image-banner { position:fixed; top:0; z-index:1; }
.generic-image-banner .image-banner-text { padding:225px 15px 50px; }
.custom-image-banner .image-banner-text { min-height:750px; padding:370px 15px 50px; }
.events-image-banner .image-banner-text { padding:300px 185px 15px 15px; }
}
@media (min-width:768px) and (max-width:991px){
.generic-image-banner .image-banner-text, 
.custom-image-banner .image-banner-text, 
.events-image-banner .image-banner-text { width:750px; }
}
@media (min-width:992px) and (max-width:1199px){
.generic-image-banner .image-banner-text, 
.custom-image-banner .image-banner-text, 
.events-image-banner .image-banner-text { width:970px; }	
}
@media (min-width:1200px) {
.generic-image-banner .image-banner-text, 
.custom-image-banner .image-banner-text, 
.events-image-banner .image-banner-text { width:1170px; }
}

/* ===================
   IMAGE WIDGETS
====================== */
.images-widget { margin:45px 0; }
.images-widget-item { position:relative; width:100%; min-height:260px; background:#EAEAEA; }
.images-widget-quote { padding:50px 40px; font-size:2em; color:#2D2739; }

@media (min-width:768px) {
.images-widget { margin:60px 0; }
.images-widget-quote { position:absolute; bottom:0; left:0; width:100%; }
.images-widget-item { float:left; }
.images-widget-item.small { width:35%; }
.images-widget-item.large { width:65%; }
}
@media (min-width:768px) and (max-width:991px){
.images-widget-quote { padding:10px 15px; font-size:1.5em; }
}
@media (min-width:992px) and (max-width:1199px){
.images-widget-item { min-height:335px; }
.images-widget-quote { padding:15px 30px; }
}
@media (min-width:1200px) {
.images-widget-item { min-height:410px; }	
}

/* ===================
   VIEW MORE
====================== */
.view-more-wrap { position:relative; z-index:2; border-top:1px solid #CCC; text-align:center; background:#FFF; }
.view-more { display:block; padding:40px 0; text-transform:uppercase; font:600 1.2em 'proxima-nova', sans-serif; color:#727272; }
.view-more:before { content:'\f009'; display:inline-block; width:30px; height:30px; margin-right:30px; vertical-align:middle; font:31px 'FontAwesome'; color:#2D2739; -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); transform:rotate(0deg); -webkit-transition:-webkit-transform 0.5s; -moz-transition:-moz-transform 0.5s; transition:transform 0.5s; }

.view-more:hover, .view-more:focus { color:#727272; }
.view-more:hover:before, 
.view-more:focus:before { -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); -ms-transform:rotate(90deg); transform:rotate(90deg); }


/* ===================
   COURSES PAGE
====================== */

.course-description { margin-bottom: 50px; text-align: justify; }
.course-content { margin-bottom: 50px; }
.course-content ul { list-style: none }
.course-content ul li { line-height: 2em; }
.course-content ul li:before { content: "→"; position: absolute; left: 25px; }
.course-details { background: #2D2739; color: #FFF; padding: 15px; line-height: 2em; }



/* ===================
   SERVICES PAGE
====================== */
#service-overlay { }
#course-panel,
#service-panel {
  position: absolute;
  top: 0;
  right: -320px;
  width: 320px;
  height: 100%;
  padding: 70px 25px;
  background: #2D2739;
  z-index: -999;
  opacity: 0;
  transition: all .8s ease;
}
#course-panel.open,
#service-panel.open {
  position: fixed;
  right: 0;
  opacity: 1;
  z-index: 999;
}
.overlay-close { top: 10px; right:10px; position: absolute; cursor: pointer; }
.overlay-close:before { content:'\f00d'; width:30px; height:30px; vertical-align:middle; font:31px 'FontAwesome'; color:rgba(255,255,255,0.3); -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); transform:rotate(0deg); -webkit-transition:-webkit-transform 0.5s; -moz-transition:-moz-transform 0.5s; transition:transform 0.5s; }

.question { position: absolute; bottom: 50px;}
.question h3 { color: #E23C52; padding-bottom: 20px; border-bottom: 1px solid rgba(255,255,255, 0.5); }
.question .footer-phone-number { color: #FFF;  }

.service-list { list-style: none; padding: 0;}
.service-list li a { letter-spacing:0.02em; line-height:2em; font-size:1.533em; color:#FFF; transition: all .5s ease; }
.service-list li a:hover { color:#E23C52; }



.services-list { margin-top:80px; text-align:center; }
.services-list-item { margin-bottom:65px; }
.services-list-item-title { margin-bottom:5px; padding:0 41px; font-size:1.667em; }
.services-list-item-description { margin-bottom:20px; font-size:1.133em; }
.services-list-item-subcategories { list-style:none; margin:0; padding:25px 0 0; border-top:1px dotted #DDD; }
.services-list-item-subcategory { display:inline-block; margin-top:20px; border:1px solid #DDD; border-radius:20px; padding:12px 30px 10px; letter-spacing:0.075em; font-size:0.867em; color:#727272; }
.services-list-item-subcategories li:first-child .services-list-item-subcategory { margin-top:0; }
.services-list-item-subcategory:hover, 
.services-list-item-subcategory:focus { border-color:#2D2739; background:none; color:#2D2739; }

@media (min-width:768px) {
.services-list { margin-top:135px; }
.services-list-item { margin-bottom:135px; }
.services-list-item-title { min-height:72px; }
.services-list-item-subcategories { padding:45px 0 0; }
}
/* ===================
   HOSTING WIDGET
====================== */
.hosting li { font-size: 16px; line-height: 30px; list-style: none; }
.hosting li:before { position: absolute; left: 30px; margin-top: 3px; content:'\f105'; vertical-align:middle; font:20px 'FontAwesome';  }
/* ===================
   TECHNOLOGY WIDGET
====================== */
.technology .client { padding: 50px 0; }

/* ===================
   PROJECTS WIDGET
====================== */
/* Portfolio */
#portfolio {
  overflow: hidden;
  padding: 50px 0 150px;
}

#filters {
  list-style: none;
  padding: 0;
  margin: 50px 0;
  text-align: center;
}
#filters > li {
  display: inline-block;
  position: relative;
  padding: 8px 16px;
  text-transform: uppercase;
  font-size: 13px;
  color: #666;
  cursor: pointer;
}
#filters > li:before {
  content: "/";
  position: absolute;
  left: -5px;
  font-size: 10px;
  line-height: 18px;
  color: #666;
}
#filters > li:first-child:before {
  content: none;
}
#filters > li.active {
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.project {
  position: relative;
  width: 33.22222233%;
  float: left;
  overflow: hidden;
  
}
.project.col-gallery {
  position: relative;
  width: 350px;
  height:240px;
  float: left;
  margin: 10px;
  overflow-y: hidden;
}
.project:hover .project-overlay {
  opacity: 1;
  z-index: 999;
}
.project img {
  transition: all .5s ease;
}
.project:hover img {
  transform: scale(1.2);
  z-index: -10;
}
.project-overlay {
  position: absolute;
  left: 5%;
  top: 5%;
  height: 90%;
  width: 90%;
  background-color: rgba(45, 39, 57, 0.9);
  opacity: 0;
  transition: all .8s ease;
  text-align: center;
}
.project-overlay p {
  color: #ddd;
  font-size: 14px;
  margin-top: 20px;
}
.project-overlay a {
  color: #E23C52;
}
.project-overlay h4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 17px;
  margin: 50px 0 20px;
  color: #FFF;
}
.project-overlay .btn {
  margin: 20px 0;
  transform: scaleY(.1);
  transition: all .5s ease;
}
.project:hover .project-overlay .btn {
  transform: scaleY(1);
}

.projects-widget { position:relative; z-index:2; text-align:center; background:#FFF; }
.projects-widget-title { padding:40px 0; text-align:left; text-transform:uppercase; line-height:1.667em; letter-spacing:0.075em; font-size:1.6em; font-weight:400; color:#5C5C5C; }
.projects-widget-title strong { font-family:'proxima-nova', sans-serif; font-weight:700; }

.projects-widget-item { position:relative; display:inline-block; width:100%; }
.projects-widget-item .casestudy-name { position:absolute; top:50%; left:50%; margin:0; width:92%; font-size:1.8em; -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); transform:translate(-50%, -50%); }
.projects-widget-item:before { content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.3); -webkit-transition:background 0.3s; -moz-transition:background 0.3s; transition:background 0.3s; }
.projects-widget-item:hover:before, .projects-widget-item:focus:before { background:rgba(0,0,0,.75); }

@media (min-width:992px) {
.projects-widget-item { float:left; width:33.333%; }
}

/* ===================
   TEAM PAGE
====================== */
.team-members { text-align:center; }
.team-members-item { position:relative; display:inline-block; margin-bottom:15px; }
.team-members-item:after { content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0); -webkit-transition:background 0.3s; -moz-transition:background 0.3s; transition:background 0.3s; }
.team-members-item:hover:after, 
.team-members-item:focus:after { background:rgba(0,0,0,.6); }

.team-members-item-text { position:absolute; bottom:10%; left:15%; right:15%; z-index:1; padding:25px 15px; background:rgba(0,0,0,.76); color:#FFF; }
.team-members-name { position:relative; margin-bottom:0; letter-spacing:0.09em; font:700 1.133em/1.2em 'proxima-nova', sans-serif; color:#FFF; }
.team-members-name:after { content:''; display:block; margin:0 auto; width:0; height:2px; background:#2D2739; -webkit-transition:width 0.3s, margin 0.3s; -moz-transition:width 0.3s, margin 0.3s; transition:width 0.3s, margin 0.3s; }
.team-members-item:hover .team-members-name:after, 
.team-members-item:focus .team-members-name:after { margin:10px auto; width:15px; }
.team-members-job-title { letter-spacing:0.03em; line-height:1.647em; font-size:1.2em; }

@media (min-width:768px) {
.team-members-item { float:left; margin-bottom:0; width:33.333%; }
}
@media (min-width:768px) and (max-width:991px){
.team-members-item { float:left; margin-bottom:0; width:50%; }
}

/* ===================
   TEAM PROFILE PAGE
====================== */
.teamprofile-contactbox { margin-bottom:50px; border:1px solid #DDD; padding:20px 0; }
.teamprofile-contactbox-title { border-bottom:1px solid #DDD; text-transform:uppercase; letter-spacing:0.106em; font:600 1.067em/1.625em 'proxima-nova', sans-serif; padding:0 25px 12px; }
.teamprofile-contactbox-email { display:block; border-bottom:1px solid #DDD; padding:25px; line-height:1.625em; font-size:1.067em; font-style:italic; font-weight:700; color:#5C5C5C; word-break:break-word; }
.teamprofile-contactbox-email:hover, .teamprofile-contactbox-email:focus { text-decoration:underline; color:#5C5C5C; }
.teamprofile-contactbox-socialmedia { padding:20px 25px 0; color:#5C5C5C; }
.teamprofile-contactbox-socialmedia i { vertical-align:middle; color:#BBB; }
.teamprofile-contactbox-socialmedia .fa-twitter { font-size:22px; }
.teamprofile-contactbox-socialmedia .fa-twitter:hover, .teamprofile-contactbox-socialmedia .fa-twitter:focus { color:#4EABF0; }
.teamprofile-contactbox-socialmedia .fa-google-plus { font-size:18px; margin-right:20px; }
.teamprofile-contactbox-socialmedia .fa-google-plus:hover, .teamprofile-contactbox-socialmedia .fa-google-plus:focus { color:#DF4B38; }

@media (min-width:768px) {
.teamprofile-contactbox { margin-bottom:0; }
}
@media (min-width:1200px) {
.teamprofile-contactbox { margin-right:40px; }
}

.teamprofile-name { margin-bottom:0; padding:0 10px; }
.teamprofile-job-title { display:inline-block; margin-bottom:20px; padding:0 10px; line-height:1.6em; font-size:1.333em; color:#2D2739; }

@media (min-width:768px) {
.teamprofile-name { padding:0 35px; }
.teamprofile-job-title { padding:0 35px; }
}

/* teamprofile images widget */
.teamprofile-images-widget { display:none; text-align:center; }
.teamprofile-images-widget-title { padding:50px 0; margin-bottom:15px; text-transform:uppercase; letter-spacing:0.04em; font:800 2em/1.2em 'proxima-nova', sans-serif; color:#5C5C5C; }

@media (min-width:768px) {
.teamprofile-images-widget { display:block; }
}

/* ===================
   BLOG
====================== */
.fa.fa-exclamation-circle { position: absolute; top: 20px; left: 80%; z-index: 999; color: #E12C25 }
.blog-list-title { margin-bottom:0; padding:35px 0; text-align:center; letter-spacing:0.04em; font:800 2em/1.2em 'proxima-nova', sans-serif; }
.blog-item { position:relative; display:block; padding:50px 0; min-height:265px; text-align:center; -webkit-transition:background 0.5s; -moz-transition:background 0.5s; transition:background 0.5s; }

.blog-item:after { content:''; position:absolute; bottom:0; left:49%; right:49%; height:2px; background:#ACACAC; }
.blog-item:hover:after, 
.blog-item:focus:after { height:0; }

.blog-item-image-overlay { position:absolute; top:0; left:0; z-index:-1; width:100%; height:100%; opacity:0; -webkit-transition:opacity 0.5s; -moz-transition:opacity 0.5s; transition:opacity 0.5s; }
.blog-item:hover .blog-item-image-overlay , 
.blog-item:focus .blog-item-image-overlay { opacity:1; }
.blog-item-image-overlay:after { content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(16,16,16,.64); }

.blog-item-body { display:block; }
.blog-item-date { display:inline-block; margin-bottom:20px; text-transform:uppercase; letter-spacing:0.2em; font:700 0.933em 'proxima-nova', sans-serif; color:#2D2739; -webkit-transition:color 0.3s; -moz-transition:color 0.3s; transition:color 0.3s; }
.blog-item-title { margin-bottom:5px; text-transform:none; letter-spacing:0.1em; font:600 1.533em/1.2em 'proxima-nova', sans-serif; color:#5C5C5C; -webkit-transition:color 0.3s; -moz-transition:color 0.3s; transition:color 0.3s; }
.blog-item-text { margin-bottom:30px; line-height:1.588em; font-size:1.133em; font-weight:400; color:#5C5C5C; -webkit-transition:color 0.3s; -moz-transition:color 0.3s; transition:color 0.3s; }

.blog-item:hover .blog-item-date, .blog-item:focus .blog-item-date{ color:#FFF; }
.blog-item:hover .blog-item-title, .blog-item:focus .blog-item-title { color:#FFF; }
.blog-item:hover .blog-item-text, .blog-item:focus .blog-item-text { color:#FFF; }
.blog-item:hover .blog-categories li, .blog-item:focus .blog-categories li { color:#FFF; }

.blog-categories { list-style:none; margin:0; padding:0; }
.blog-categories li { display:inline-block; padding:0 10px; border-left:1px solid #CCC; }
.blog-categories li:first-child { padding-left:0; border-left:0; }
.blog-categories li { text-transform:uppercase; line-height:1em; letter-spacing:0.05em; font-size:0.933em; color:#AAA; }

@media (min-width:768px) {
.blog-list-title { padding:65px 0; }
}

/* search */
#blog-search { position:relative; margin-bottom:15px; }
#blog-search input { border:1px solid #DDD; border-radius:25px; padding:0 35px; height:55px; text-transform:uppercase; letter-spacing:0.2em; background:none; font:1em 'proxima-nova', sans-serif; color:#5C5C5C; -webkit-transition:border 0.3s; -moz-transition:border 0.3s; transition:border 0.3s; }
#blog-search input:focus { border-color:#AAA; }
#blog-search input::-webkit-input-placeholder { color:#AAA; } 
#blog-search input:-moz-placeholder { color:#AAA; } 
#blog-search input::-moz-placeholder { color:#AAA; } 
#blog-search input:-ms-input-placeholder { color:#AAA; }  
#blog-search button { position:absolute; top:0; right:0; padding-right:2px; display:inline-block; width:55px; height:55px; margin:0 0 0 -55px; padding-top:5px; background:none; font-size:20px; color:#AAA; border:none; vertical-align:top; }

@media (min-width:768px) {
#blog-search { margin:0 40px 0 0; }
}

/* categories select */
.selectBox-dropdown { border:0; border-radius:0; padding:16px 25px; width:100% !important; line-height:normal; background:none; -webkit-transition:background 0.3s; -moz-transition:background 0.3s; transition:background 0.3s; }
.selectBox-dropdown:focus { outline:none; }
.selectBox-dropdown:hover { background:#EDEDED; }
.selectBox-dropdown.selectBox-menuShowing { outline:none; background:#EDEDED; }
.selectBox-dropdown .selectBox-label { padding:0; width:100% !important; text-transform:uppercase; letter-spacing:0.1em; vertical-align:middle; font:1em 'proxima-nova', sans-serif; color:#5C5C5C; }
.selectBox-dropdown .selectBox-arrow { border:0; width:30px; background:none; }
.selectBox-dropdown .selectBox-arrow:after { content:'\f0d7'; position:absolute; top:50%; font:20px 'FontAwesome'; color:#AAA; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); }

.selectBox-dropdown-menu { max-height:500px; }
.selectBox-dropdown-menu.selectBox-options { border:0; border-top:1px solid #DDD; box-shadow:none; background:#EDEDED; }
.selectBox-options li a { padding:15px 25px; text-transform:uppercase; letter-spacing:0.1em; vertical-align:middle; font:0.867em 'proxima-nova', sans-serif; color:#5C5C5C; }
.selectBox-options li a:hover, .selectBox-options li a:focus { background:#DADADA; }

@media (min-width:1200px) {
.selectBox-dropdown { padding:16px 45px; }
.selectBox-dropdown .selectBox-label { letter-spacing:0.2em; }
.selectBox-options li a { padding:15px 45px; letter-spacing:0.2em; }
}

.popular-posts { margin-top:75px; padding-bottom:10px; border-bottom:1px solid #DDD; }
.popular-posts-item { margin-bottom:25px; text-align:center; }
.popular-posts-item:hover .popular-posts-item-body, .popular-posts-item:focus .popular-posts-item-body { background:#EEE; }
.popular-posts-title { margin-bottom:25px; text-align:center; text-transform:uppercase; letter-spacing:0.04em; font:700 3.333em/1.2em 'prima-nova', sans-serif; color:#5C5C5C; }
.popular-posts-item-body { padding:35px 30px; -webkit-transition:background 0.3s; -moz-transition:background 0.3s; transition:background 0.3s; }
.popular-posts-item-date { display:inline-block; margin-bottom:20px; text-transform:uppercase; letter-spacing:0.2em; font:700 0.933em 'proxima-nova', sans-serif; color:#2D2739; -webkit-transition:color 0.3s; -moz-transition:color 0.3s; transition:color 0.3s; }
.popular-posts-item-title { margin-bottom:5px; text-transform:none; letter-spacing:0.01em; font:600 2em/1.2em 'proxima-nova', sans-serif; color:#5C5C5C; -webkit-transition:color 0.3s; -moz-transition:color 0.3s; transition:color 0.3s; }
.popular-posts-item-text { margin-bottom:30px; line-height:1.588em; font-size:1.133em; font-weight:400; color:#6A6A6A; -webkit-transition:color 0.3s; -moz-transition:color 0.3s; transition:color 0.3s; }

@media (min-width:768px) {
.popular-posts { margin:110px 0 40px; padding-bottom:70px; }
.popular-posts-item { margin-bottom:0; text-align:left; }
.popular-posts-title { margin-bottom:70px; }
}

/* ===================
   BLOCK PAGE
====================== */
.article-date-posted { margin-bottom:30px; text-align:center; text-transform:uppercase; letter-spacing:0.2em; font-family:'proxima-nova', sans-serif; color:#5C5C5C; }

@media (min-width:768px) {
.article-date-posted { text-align:right; }
}


/* ===================
   CONTACT PAGE
====================== */
.contactinfo { padding:12px 0; background:#2D2739; }
.contactinfo-item { padding:20px 0; text-align:center; color:#FFF; border-bottom:1px solid #35373B; }
.contactinfo-item.last-child { border-bottom:none }
.contactinfo-item-title.address:before { content:'\f041'; position:relative; margin-right:10px; font:20px 'FontAwesome'; color:#E23C52; }
.contactinfo-item-title.phone:before { content:'\f095'; position:relative; margin-right:10px; font:20px 'FontAwesome'; color:#E23C52; }
.contactinfo-item-title.time:before { content:'\f041'; position:relative; margin-right:10px; font:20px 'FontAwesome'; color:#E23C52; }
.contactinfo-item-title { text-transform:uppercase; font:600 1.333em/1.6em 'proxima-nova', sans-serif; }
.contactinfo-item-text { line-height:1.6em; font-size:1.133em; font-weight:400; }
.contactinfo-item-text a { color:#FFF; }

#formcontactus { margin-top: 30px }
.error-form { float: right; margin: -24px 2px 0 0; position: relative; top: 0; }
.error-form i:before { color: #C33; font-size: 100%; vertical-align: top; margin-right: 10px; }
.alert-success { text-align: left; }

@media (min-width:768px) {
.contactinfo-item { border-right:1px solid #35373B; min-height:160px; border-bottom:none }
.contactinfo-item.last-child { border-right:none }
}

.contact-form { margin:60px 0; }

@media (min-width:768px) {
.contact-form { margin:105px 0; }
}
@media (min-width:768px) and (max-width:991px){
.contact-form { margin:80px 0; }
}

.socialmedia { padding:0 15px; }
.socialmedia-item { position:relative; display:block; min-height:147px; -webkit-transition:background 0.3s; -moz-transition:background 0.3s; transition:background 0.3s; }
.socialmedia-item-body { position:absolute; top:0; left:0; width:100%; height:100%; text-transform:uppercase; letter-spacing:0.106em; font:700 1.067em 'proxima-nova', sans-serif; color:#FFF; }
.socialmedia-item-body i { position:absolute; top:55px; left:50%; display:block; margin-bottom:20px; text-transform:none; font-size:24px; color:#FFF; -webkit-transition:color 0.3s, top 0.5s; -moz-transition:color 0.3s, top 0.5s; transition:color 0.3s, top 0.5s; -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); transform:translateX(-50%); }
.socialmedia-item-body span { position:absolute; top:60px; left:50%; opacity:0; -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); transform:translateX(-50%); -webkit-transition:top 0.5s, opacity 0.1s; -moz-transition:top 0.5s, opacity 0.1s; transition:top 0.5s, opacity 0.1s; }
.socialmedia-item .fa-twitter { font-size:28px; }
.socialmedia-item .fa-youtube { font-size:28px; } 

.socialmedia-item:hover, .socialmedia-item:focus, 
.socialmedia-item:hover i, .socialmedia-item:focus i { color:#FFF; }
.socialmedia-item:hover i, .socialmedia-item:focus i { top:45px; }
.socialmedia-item:hover span, .socialmedia-item:focus span { opacity:1; top:85px; }

.socialmedia-item.facebook { background:#4B6EBA; }
.socialmedia-item.twitter { background:#4EABF0; }
.socialmedia-item.instagram { background:#DF4B38; }
.socialmedia-item.youtube { background:#E12C25; }

@media (min-width:768px) {
.socialmedia-item { border-right:1px solid #EFEFEF; }
.socialmedia-item.first-child { border-left:1px solid #EFEFEF; }

.socialmedia-item-body i { color:#5C5C5C; }

.socialmedia-item.facebook, 
.socialmedia-item.twitter,
.socialmedia-item.instagram, 
.socialmedia-item.youtube { background:#FFF; }

.socialmedia-item.facebook:hover, .socialmedia-item.facebook:focus { background:#4B6EBA; }
.socialmedia-item.twitter:hover, .socialmedia-item.twitter:focus { background:#4EABF0; }
.socialmedia-item.instagram:hover, .socialmedia-item.instagram:focus { background:#DF4B38; }
.socialmedia-item.youtube:hover, .socialmedia-item.youtube:focus { background:#E12C25; }
}

.directions { margin-top:60px; }
.directions-body { padding:60px 15px 60px 15px; text-align:center; background:#2D2739; color:#FFF; }
.directions-title { margin-bottom:18px; letter-spacing:0; font:600 1.533em 'proxima-nova', sans-serif; color:#FFF; }
.directions-title:before { content:'\f041'; display:block; margin-bottom:25px; font:42px 'FontAwesome'; color:#2D2739; }
.directions-text { margin:0 auto; width:85%; line-height:1.647em; font-size:1.25em; font-weight:400; }
.directions-image { height:437px; }

@media (min-width:768px) {
.directions { margin-top:100px; }
.directions .row { position:relative; }
.directions .full-height { position:absolute; top:0; right:0; height:100%; overflow: hidden; }
.directions-image { height:100%; }
}
@media (min-width:768px) and (max-width:991px){
.directions { margin-top:80px; }
}
@media (min-width:992px) {
.directions-text { width:65%; }
}
 