<!DOCTYPE html>
<html lang="en">



{% include head.html %}



<body>
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

    {% include nav.html %}

    <div class="content">


    {{ content }}

    </div>

    {% include footer.html %}



<script src="{{ "/js/jquery-1.11.1.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.jscroll.js " | prepend: site.baseurl }}"></script>

<script src="{{ site.siteurl }}/js/jquery-1.11.1.js"></script>
<script src="{{ site.siteurl }}/js/jscroll/jquery.jscroll.js"></script>

<script type="text/javascript">
// content selector is used to extract the additional items 
$('.content').jscroll({
    contentSelector: ".content",
    nextSelector: '.next'
});
</script>



</body>

</html>
