<!DOCTYPE html>
<html lang="en">



{% include head.html %}



<body>

	
<div id="preloader">
    <div id="status">

    </div>

</div>  

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


      <div class="btns">
        <a href="http://api.dribbble.com/players/jackietrananh/shots?callback=?" data-datatype="json" data-type="GET" data-target="#frame" class="reload" id="clickme"><i class="customicon-download-alt"></i> Click Me</a>
        <a class="reload btn" href="https://github.com/peachananr/loading-bar">Download on Github</a>
      </div>
      <div class="frame" id="frame">
  
  </div>

</body>

</html>
