---
layout: default
---




<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ page.header-img }}')">
    <div class="container head">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 id="top-title-font-weight-bold">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                <!--    <hr class="small"> -->
                    <span class="subheading" id="textfloat">{{ page.description }}
                       <br> <br> <i class="fa fa-chevron-down" id="scroll-down"></i>
</span>
        
                    
                </div>
            </div>
        </div>
    </div>
</header>


<div class="content">
<!-- Main Content -->
<div class="container front-end">
	<div class="row">
		<div class="posts">
			{{ content }}
		</div>
	</div>
</div>

<hr>


</div>



<script src="{{ "/js/jquery-1.11.1.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.jscroll.js " | prepend: site.baseurl }}"></script>

<script src="{{ site.siteurl }}/js/jquery-1.11.1.js"></script>
<script src="{{ site.siteurl }}/js/jscroll/jquery.jscroll.js"></script>

<script type="text/javascript">
// content selector is used to extract the additional items 
$('.content').jscroll({
    contentSelector: ".content",
    nextSelector: '.next'
});
</script>



