---
layout: default
---

<!--
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ page.header-img }}')" alt="Lucas Gatsas lucas gatsas" title="lucas gatsas Lucas Gatsas">
    <div class="container head">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">

<div class="hero-block">
                <img class="img-circle portfolio-link" src="{{ site.baseurl }}/img/zLAW5YPs_400x400.jpg"  href="#portfolioModal1" data-toggle="modal" width="150" height="150" alt="Lucas Gatsas lucas gatsas" title="lucas gatsas Lucas Gatsas">
            
              </p>  
            </div><br><br>
                    <h1 id="top-title-font-weight-bold">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
         
                    <span class="subheading" id="textfloat">{{ page.description }}
                       <br> <br>
               
                    <i class="fa fa-chevron-down" id="scroll-down"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
-->


<!--

<div class="container front-end">
	<div class="row">
		<div class="posts">
			{{ content }}
		</div>

        
	</div>
</div>

 -->










